<div class="page page-table"   data-ng-controller="BlogCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Blogs</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addBlog()" name="add_blog">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Caption</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="blog.caption"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> link</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="url"
                               class="form-control"
                               placeholder="Min length 2"
                               data-ng-model="blog.link"
                               required
                               data-ng-minlength="2"
                               >
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <spna ng-if="blog.id==''">  Add Blog</spna>   <spna ng-if="blog.id!=''">  Update Blog</spna>  
                </button>


            </form>   
        </div>
    </section>
    <section class="panel panel-default table-dynamic" ng-init="getBlogs()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>All Blogs</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredBlogs.length}}/{{ blogModel.blogs.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th><div class="th">
                        Feed
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('caption') "
                              data-ng-class="{active: row == 'caption'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-caption') "
                              data-ng-class="{active: row == '-caption'}"></span>
                        </div></th>
                    <th><div class="th">
                        Link
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('link') "
                              data-ng-class="{active: row == 'link'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-link') "
                              data-ng-class="{active: row == '-link'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="blog in currentPageBlogs">

                    <td ng-bind="blog.id"></td>
                    <td ng-bind="blog.caption"></td>
                    <td ng-bind="blog.link"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editBlog(blog)"><i class="glyphicon glyphicon-pencil"></i></button>

                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteBlog(blog.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredBlogs.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>