                        <div class="modal-header">
                            <h3>Change My Password</h3>
    </div>
<form role="form" class=" form-horizontal form-validation" ng-submit="saveNewPassword()" style="margin: 20px;" name="change_password" id="change_password"> 
                        <div class="modal-body">
                            <div class="form-group">

                                <div class="col-md-12" style="margin:10px;">
                                    <input name="old_password" type="password" class="form-control"  ng-model="passwordModal.password.old_password" placeholder="Old Password" required/>
                                </div>

                                <div class="col-md-12" style="margin:10px;">
                                    <input name="new_password" type="password" class="form-control"  ng-model="passwordModal.password.new_password" placeholder="New Password" required/>
                                </div>

                                <div class="col-md-12" style="margin:10px;">
                                    <input name="confirm_password" type="password" class="form-control"  ng-model="passwordModal.password.confirm_password" placeholder="Confirm New Password" required/>
                                </div>
                                <div data-ng-if="(passwordModal.password.confirm_password!=passwordModal.password.new_password) && change_password.new_password.$valid && change_password.confirm_password.$valid" style="padding:0 0 0 35px; color:red;">
                                    New Password and Confirm Password do not match
                                </div>

                                <div data-ng-if="passwordModal.changePasswordErrorMessage" style="padding:0 0 0 35px; color:red;">
                                    {{passwordModal.changePasswordErrorMessage}}
                                </div>

                
                            </div>
    </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" ng-disabled="!(change_password.$valid && (passwordModal.password.confirm_password==passwordModal.password.new_password))">Change Password</button>
                            <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>


    
</form>
