<div class="page page-profile" data-ng-controller="DashboardCtrl ">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <img alt="" ng-src="/content/team/{{mainModel.user.image}}" class="img-circle img80_80">
                    <h3>{{mainModel.user.name}}</h3>
                    <p>{{mainModel.user.post}}</p>                    
                    <p>{{mainModel.user.description}}</p>                    
                </div>
<br/>

                <div class="row">


                    <div class="col-sm-6">
                        <section class="panel panel-box">
                            <a  href="#/mybatches/ongoing" class="panel-top bg-success">
                                <div class="divider divider"></div>
                               Ongoing Batches
                                <div class="divider divider"></div>
                            </a>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherCurrentBatchesCount.count | number"></p>
                                        <p class="text-muted">Batches</p>
                                    </li>
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherCurrentBatchesCount.reviewingHomeworkCount | number"></p>
                                        <p class="text-muted">Homework Pending</p>
                                    </li>
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherCurrentBatchesCount.reviewingHomeworkCount | number"></p>
                                        <p class="text-muted">Homework Pending</p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel panel-box">
                            <a  href="#/mybatches/upcoming" class="panel-top bg-info">
                                <div class="divider divider"></div>
                                Upcoming Batches
                                <div class="divider divider"></div>
                            </a>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherUpcomingBatchesCount.count | number"></p>
                                        <p class="text-muted">Batches</p>
                                    </li>
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherUpcomingBatchesCount.reviewingHomeworkCount | number"></p>
                                        <p class="text-muted">Homework Pending</p>
                                    </li>
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherUpcomingBatchesCount.reviewingHomeworkCount | number"></p>
                                        <p class="text-muted">Homework Pending</p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel panel-box">
                            <a  href="#/mybatches/past" class="panel-top bg-primary">
                                <div class="divider divider"></div>
                                Past Batches
                                <div class="divider divider"></div>
                            </a>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherPastBatchesCount.count | number"></p>
                                        <p class="text-muted">Batches</p>
                                    </li>
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherPastBatchesCount.reviewingHomeworkCount | number"></p>
                                        <p class="text-muted">Homework Pending</p>
                                    </li>
                                    <li>
                                        <p class="size-h3" ng-bind="dashboardModel.teacherPastBatchesCount.reviewingHomeworkCount | number"></p>
                                        <p class="text-muted">Homework Pending</p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>

                </div>
<!--
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel mini-box">
                            <span class="box-icon bg-warning">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <div class="box-info">
                                <p class="size-h2" ng-bind="dashboardModel.teacherUnreviewedHomeworksCount | number"></p>
                                <p class="text-muted">Unreviewed Homeworks</p>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-6">
                        <div class="panel mini-box">
                            <span class="box-icon bg-danger">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <div class="box-info">
                                <p class="size-h2" ng-bind="dashboardModel.teacherIncompleteHomeworksCount | number"></p>
                                <p class="text-muted">Incomplete Homeworks</p>
                            </div>
                        </div>                    
                    </div>
                </div>
-->


            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>Name</label>
                                    {{mainModel.user.name}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>Username</label>
                                    {{mainModel.user.username}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    {{mainModel.user.email}}
                                </li>
<!--
                                <li>
                                    <span class="icon glyphicon glyphicon-lock"></span>
                                    <label>Access Level</label>
                                    {{mainModel.user.access}}
                                </li>
-->
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    {{mainModel.user.mobile}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Post</label>
                                    {{mainModel.user.post}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-globe"></span>
                                    <label>Linked In Profiles</label>
                                    {{mainModel.user.linkedin}}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>