
<div class="modal-body">
    <h3>Delete Team member</h3>
    <p>Deleting team member will result in deletion of  all  the batches,students and other  data related to that member
    <p>Click on 'Ok' if you want to delete team member else 'Cancel'</p>
    <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
