
<div class="modal-body">
    <h3>Delete Parent</h3>
    <p>Deleting parent will result in deletion of  all  the students and other  data related to that parent and their students
    <p>Click on 'Ok' if you want to delete parent else 'Cancel'</p>
    <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
