
<div class="modal-body">
    <h3>Delete School</h3>
    <p>Deleting school will result in deletion of  all  students  data of respective school</p>
    <p>Click on 'Ok' if you want to delete school else 'Cancel'</p>
        <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
        <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
