<div class="page page-table" ng-controller="EnquiryCtrl">
    <div class="page">

        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Enquiry by <span ng-bind="enquiryModel.enquiry.parent_name"></span> Parent of <span ng-bind="enquiryModel.enquiry.student_name"></span></strong></div>
            <div class="panel-body">
                <div ng-init="getEnquiryDetails()">
                    <form class="form-horizontal"  >
                        <div class="form-group" >
                            <label for="student_name" class="col-sm-3 control-label">Student Name*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.student_name"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="school_name" class="col-sm-3 control-label">School*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.school_name"></p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="std" class="col-sm-3 control-label">Class*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.class"></p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="parent_name" class="col-sm-3 control-label">Parent Name*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.parent_name"></p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="contact" class="col-sm-3 control-label">Mobile NO.*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.contact"></p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="email" class="col-sm-3 control-label">Email*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.email"></p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="location" class="col-sm-3 control-label">Location*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.location"></p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="dob" class="col-sm-3 control-label">Date Of Birth*</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.dob"></p>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="comments" class="col-sm-3 control-label">Comments</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-bind="enquiryModel.enquiry.comments"></p>
                            </div>
                        </div>


                    </form>

                </div>            </div>
        </section> 

    </div>

</div>