<div class="page page-table"   data-ng-controller="EnquiryCtrl">
    
    <section class="panel panel-default table-dynamic" ng-init="getEnquiries()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>All Enquiries</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredEnquiries.length}}/{{ enquiryModel.enquiries.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th><div class="th">
                        Student
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('student_name') "
                              data-ng-class="{active: row == 'student_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-student_name') "
                              data-ng-class="{active: row == '-student_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        School
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('school_name') "
                              data-ng-class="{active: row == 'school_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-school_name') "
                              data-ng-class="{active: row == '-school_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Parent
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('parent_name') "
                              data-ng-class="{active: row == 'parent_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-parent_name') "
                              data-ng-class="{active: row == '-parent_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Contact No
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('contact') "
                              data-ng-class="{active: row == 'contact'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-contact') "
                              data-ng-class="{active: row == '-contact'}"></span>
                        </div></th>
                    <th><div class="th">
                        Email
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                        </div></th>
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="enquiry in currentPageEnquiries">

                    <td ><a href="#/enquiries/view/{{enquiry.id}}" ng-bind="enquiry.id" style="color:#2cacaa"></a></td>
                    <td><a href="#/enquiries/view/{{enquiry.id}}" ng-bind="enquiry.student_name" style="color:#2cacaa"></a></td>
                    <td ng-bind="enquiry.school_name"></td>
                    <td ng-bind="enquiry.parent_name"></td>
                    <td ng-bind="enquiry.contact"></td>
                    <td ng-bind="enquiry.email"></td>
                    <td ng-bind="enquiry.status"></td>

                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredBlogs.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>