<div class="page page-table" data-ng-controller="EventCtrl" >

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Event</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addEvent()" name="add_event">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Event Caption</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 30"
                               data-ng-model="event.caption"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Event Date</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" 
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="event.eventDate"

                               ng-required="true" 
                               >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> File </label>
                    </div>
                    <div class="col-sm-9">
                <input type="file" nv-file-select="" uploader="uploader" ng-if="event.id==''"/>
                    </div>
                </div>
                <div  style="margin-bottom: 40px" ng-if="event.id==''">



                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>

                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmitEvent()">
                    <spna ng-if="event.id==''">  Add Event</spna>   <spna ng-if="event.id!=''">  Update Event</spna>  
                </button>


            </form>   
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-init="getEvents()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>All Events </strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredEvents.length}}/{{ eventModel.events.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">#</div></th>
                    <th><div class="th">
                        Caption
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('caption') "
                              data-ng-class="{active: row == 'caption'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-caption') "
                              data-ng-class="{active: row == '-caption'}"></span>
                        </div></th>
                    
                    <th><div class="th">
                        Date
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('eventDate') "
                              data-ng-class="{active: row == 'eventDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-eventDate') "
                              data-ng-class="{active: row == '-eventDate'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="event in currentPageEvents">
                    <td ng-bind="event.id"></td>
                    <td ng-bind="event.caption"></td>
                    <td ng-bind="event.eventDate"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editEvent(event)"><i class="glyphicon glyphicon-pencil"></i></button>
                        
                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteEvent(event.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredEvents.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>