<header class="clearfix" ng-if="mainModel.user.id">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <img src="/content/logo_.gif" class="img-responsive">
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-min-nav
                   class="toggle-min"
                   ><i class="fa fa-bars"></i></a>
            </li>
            <li class="dropdown text-normal nav-profile">
                <a href="#/dashboard">
                    <img ng-src="/content/team/{{mainModel.user.image}}" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="{{mainModel.user.name}}"></span>
                    </span>
                </a>

            </li>

        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            <li tooltip-placement="left" tooltip="Testimonials" tooltip-append-to-body="true" class="dropdown" ng-if="(mainModel.newTestimonials.length>0) && (mainModel.user.access=='admin') ">
                <a href="javascript:;" class="dropdown-toggle bg-orange" data-toggle="dropdown">
                    <i class="fa fa-comment-o"></i>
                    <span class="badge badge-orange" ng-bind="mainModel.newTestimonials.length"></span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default">
                    <div class="panel-heading" ng-bind="'You have '+mainModel.newTestimonials.length+' new testimonials'">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="testimonial in mainModel.newTestimonials">

                            <span  class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-orange"><i class="fa fa-comment-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">{{testimonial.parents.father_name}} & {{testimonial.parents.mother_name}} added a Testimonial</span>
                                    <span class="text-muted">
                                        Parents of 
                                        <span ng-repeat="student in testimonial.parents.student"><span ng-show="!$first && !$last">, </span><span ng-show="!$first && $last"> & </span>{{student.name}} </span>
                                        <span class="pull-right">
                                            <button   tooltip="Show on Website" tooltip-append-to-body="true" class="btn-icon btn-icon-sm btn-primary" role="button" ng-click="showTestimonialOnWebsite(testimonial)"><i class="glyphicon glyphicon-ok"></i></button>
                                            <button   tooltip="Hide From Website" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-warning" role="button" ng-click="hideTestimonialOnWebsite(testimonial)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                        </span>
                                    </span>
                                        </div>
                                    </span>
                                </li>

                    </ul>
                    <div class="panel-footer">
                        <a href="#/testimonials">Show all Testimonials.</a>
                    </div>
                </div>
            </li>
            <li tooltip-placement="left" tooltip="Testimonials" tooltip-append-to-body="true" ng-if="!(mainModel.newTestimonials.length>0) && (mainModel.user.access=='admin')">
                <a href="#/testimonials" class="bg-orange">
                    <i class="fa fa-comment-o"></i> 
                </a>
            </li>

            <li tooltip-placement="left" tooltip="Enquiries" tooltip-append-to-body="true" class="dropdown" ng-if="(mainModel.newEnquiries.length>0) && (mainModel.user.access=='admin')">
                <a href="javascript:;" class="dropdown-toggle bg-success" data-toggle="dropdown">
                    <i class="fa fa-bell-o nav-icon"></i>
                    <span class="badge badge-orange">{{mainModel.newEnquiries.length}}</span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default">
                    <div class="panel-heading">
                        You have {{mainModel.newEnquiries.length}} enquiries
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="enquiry in mainModel.newEnquiries">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New Enquiry By {{enquiry.parent_name}}</span>
                                    <span class="text-muted block">parent of {{enquiry.student_name}}</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <div class="panel-footer">
                        <a href="#/enquiries">Show all Enquiries.</a>
                    </div>
                </div>
            </li>
            <li tooltip-placement="left" tooltip="Enquiries" tooltip-append-to-body="true" ng-if="!(mainModel.newEnquiries.length>0) && (mainModel.user.access=='admin') ">
                <a href="#/enquiries" class="bg-success">
                    <i class="fa fa-bell-o"></i> 
                </a>
            </li>
            <li>
                <a ng-click="changePasswordButtonClick()" href="javascript:;" class="bg-info" tooltip-placement="left" tooltip="Change Password" tooltip-append-to-body="true">
                    <i class="icon glyphicon glyphicon-lock"></i> 
                </a>
            </li>

            <li>
                <a ng-click="logOut()" href="javascript:;" class="bg-danger" tooltip-placement="left" tooltip="Logout" tooltip-append-to-body="true">
                    <i class="icon glyphicon glyphicon-log-out"></i> 
                </a>
            </li>
        </ul>
    </div>

</header>
