
<div class="page" ng-controller="HomePageSliderCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Home Page Sliders</strong></div>


        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Thumbnails</strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4" ng-repeat="sliderImages in HomePageSliderModel.SliderImages">
                            <div class="thumbnail">
                                <img alt="" ng-src="/content/home_page_slider/{{sliderImages.image_name}}">
                                <div class="caption">                                                            
                                    <button  ng-disabled="sliderImages.status=='active'" tooltip="  Active" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-primary" role="button" ng-click="toggleHomePageSliderImageStatus(sliderImages.id)"><i class="glyphicon glyphicon-ok"></i></button>
                                    <button  ng-disabled="sliderImages.status=='inactive'" tooltip=" Inactive" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-warning" role="button" ng-click="toggleHomePageSliderImageStatus(sliderImages.id)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                    <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="removeImageHomeSlider(sliderImages.id)"><span class="glyphicon glyphicon-trash"></span></button>

                                </div>
                            </div>    
                        </div>

                    </div>            
                </div>
            </div>

            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> File upload button</strong></div>
                <div class="panel-body ">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""> Images</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                        </div>
                    </div>
                    <div class="space"></div>

                    <div class="col-md-9" style="margin-bottom: 40px">
                        <h2>Uploads only images (with canvas preview)</h2>
                        <h3>The queue</h3>
                        <p>Queue length: {{ uploader.queue.length }}</p>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>

                                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                                    </td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <div>
                                Queue progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>

                    </div>

                </div>

            </section>

        </div>
    </section> 

</div>