<div class="page-signin" ng-controller="loginCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">


                <form class="form-horizontal" name="form_signin" ng-submit="login()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       required
                                       placeholder="Username"
                                       ng-model="user.username"
                                       ng-minlength="5"
                                       ng-maxlength="20"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="password"
                                       ng-model="user.password"
                                       required
                                       ng-minlength="5"
                                       ng-maxlength="20"
                                       >
                            </div>
                        </div>
                        <div class="form-group text-danger">
                            {{error}}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!canSubmit() || inProcess">Log in</button>
                            
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a href="#/forgot">Forgot your password?</a></p>
                </section>

            </div>
        </div>
    </div>

</div>