<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li ng-show="mainModel.user.access=='teacher' || mainModel.user.access=='admin'"><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>



        <li ng-if="mainModel.user.access=='admin'"><a href="#/home-page-slider"> <i class="glyphicon glyphicon-film"></i><span data-i18n="Home Page Sliders"></span> </a></li>



        <li  ng-show="mainModel.user.access=='admin'">
            <a href="#/downloads"><i class="fa fa-magic"></i><span data-i18n="Downloads"></span></a>
            <ul>
                <li><a href="#/downloads/download-category"><i class="fa fa-caret-right"></i><span data-i18n="Downlaod Category"></span></a></li>

                <li><a href="#/downloads/download-files"><i class="fa fa-caret-right"></i><span data-i18n="Download Files"></span></a></li>

            </ul>
        </li>



        <li  ng-show="mainModel.user.access=='admin'">
            <a href="#/gallery"><i class="fa fa-film"></i><span data-i18n="Gallery"></span></a>
            <ul>
                <li><a href="#/gallery/gallery-events"><i class="fa fa-caret-right"></i><span data-i18n="Gallery Events"></span></a></li>

                <li><a href="#/gallery/gallery-items"><i class="fa fa-caret-right"></i><span data-i18n="Gallery Items"></span></a></li>

            </ul>
        </li>


        <li  ng-show="mainModel.user.access=='admin'">
            <a href="#/batches"><i class="fa fa-book"></i><span data-i18n="Batches"></span></a>
            <ul>
                <li><a href="#/batches/allBatches"><i class="fa fa-caret-right"></i><span data-i18n="All Batches"></span></a></li>

                <li><a href="#/batches/addBatches"><i class="fa fa-caret-right"></i><span data-i18n="Add New Batch"></span></a></li>

            </ul>
        </li>

        <li  ng-show="mainModel.user.access=='admin'"><a href="#/schools"> <i class="glyphicon glyphicon-book"></i><span data-i18n="Schools"></span> </a></li>



        <li  ng-show="mainModel.user.access=='admin'"><a href="#/team"> <i class="fa fa-users"></i><span data-i18n="Team"></span> </a></li>


        <li  ng-show="mainModel.user.access=='admin'"><a href="#/parents"> <i class="fa fa-users"></i><span data-i18n="Parent"></span> </a></li>



        <li  ng-show="mainModel.user.access=='admin'"><a href="#/students"> <i class="fa fa-user"></i><span data-i18n="Students"></span> </a></li>



        <li  ng-show="mainModel.user.access=='admin'"><a href="#/news"> <i class="fa fa-newspaper-o"></i><span data-i18n="News"></span> </a></li>



        <li  ng-show="mainModel.user.access=='admin'"><a href="#/media"> <i class="fa fa-desktop"></i><span data-i18n="Media"></span> </a></li>


        <li  ng-show="mainModel.user.access=='admin'"><a href="#/blogs"> <i class="glyphicon glyphicon-list-alt"></i><span data-i18n="Blogs"></span> </a></li>

        <li  ng-show="mainModel.user.access=='admin'"><a href="#/events"> <i class="fa fa-glass"></i><span data-i18n="Events"></span> </a></li>


        <li  ng-show="mainModel.user.access=='teacher'">
            <a href="#/mybatches"><i class="fa fa-book"></i><span data-i18n="MyBatches"></span></a>
            <ul>
                <li><a href="#/mybatches/all"><i class="fa fa-caret-right"></i><span data-i18n="All Batches"></span></a></li>

                <li><a href="#/mybatches/upcoming"><i class="fa fa-caret-right"></i><span data-i18n="Upcoming Batches"></span></a></li>
                <li><a href="#/mybatches/ongoing"><i class="fa fa-caret-right"></i><span data-i18n="Ongoing Batches"></span></a></li>
                <li><a href="#/mybatches/past"><i class="fa fa-caret-right"></i><span data-i18n="Past Batches"></span></a></li>

            </ul>
        </li>






    </ul>
</div>