<div class="page page-table"   data-ng-controller="NewsCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New News</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addNews()" name="add_news">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Feed</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="news.feed"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>
                
               
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> link</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="url"
                               class="form-control"
                               placeholder="Min length 2"
                               data-ng-model="news.link"
                               required
                               data-ng-minlength="2"
                               >
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Status</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select"   >
                            <select required ng-model="news.status" >
                                <option value="" ng-selected>-- select status --</option>
                                <option value="new">New</option>
                                <option value="old">Old</option>
                                <option value="inactive">In Active</option>
                            </select>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <spna ng-if="news.id==''">  Add News</spna>   <spna ng-if="news.id!=''">  Update News</spna>  
                </button>


            </form>   
        </div>
    </section>
    <section class="panel panel-default table-dynamic" ng-init="getNews()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>News</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredNews.length}}/{{ newsModel.news.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th><div class="th">
                        Feed
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('feed') "
                              data-ng-class="{active: row == 'feed'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-feed') "
                              data-ng-class="{active: row == '-feed'}"></span>
                        </div></th>
                    <th><div class="th">
                        Link
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('link') "
                              data-ng-class="{active: row == 'link'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-link') "
                              data-ng-class="{active: row == '-link'}"></span>
                        </div></th>
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="news in currentPageNews">

                    <td ng-bind="news.id"></td>
                    <td ng-bind="news.feed"></td>
                    <td ng-bind="news.link"></td>
                    <td ng-bind="news.status"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editNews(news)"><i class="glyphicon glyphicon-pencil"></i></button>

                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteNews(news.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredNews.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>