<div class="page page-table"   data-ng-controller="ParentCtrl">
<section class="panel panel-default">
    <div class="panel-heading">
        <strong>Add New Member</strong>
    </div>
    <div class="panel-body">
        <form role="form " class=" form-horizontal form-validation" data-ng-submit="addParent()" name="add_parent">
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="father_name"> Father Name</label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Min length 2, Max length 100"
                            data-ng-model="parent.father_name"
                            name="father_name"
                            id="father_name"
                            required
                            data-ng-minlength="2"
                            data-ng-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="father_email"> Father Email</label>
                </div>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            data-ng-model="parent.father_email"
                            name="father_email"
                            id="father_email"
                            required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="father_mobile"> Father Mobile</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon" >+91</span>
                        <input  type="text" pattern="^(\+?\d{1,4}[\s-])?(?!0+\s+,?$)\d{10}\s*,?$"
                                class="form-control"
                                data-ng-model="parent.father_mobile"
                                required
                                name="father_mobile"
                                id="father_mobile"
                                data-ng-minlength="10">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="father_job"> Father Job</label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Min length 2, Max length 100"
                            data-ng-model="parent.father_job"
                            required
                            name="father_job"
                            id="father_job"
                            data-ng-minlength="2"
                            data-ng-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="mother_name"> Mother Name</label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Min length 2, Max length 100"
                            data-ng-model="parent.mother_name"
                            required
                            data-ng-minlength="2"
                            name="mother_name"
                            id="mother_name"
                            data-ng-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="mother_email"> Mother Email</label>
                </div>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            name="mother_email"
                            id="mother_email"
                            data-ng-model="parent.mother_email"
                            required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="mother_mobile"> Mother Mobile</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon" >+91</span>
                        <input  type="text" pattern="^(\+?\d{1,4}[\s-])?(?!0+\s+,?$)\d{10}\s*,?$"
                                class="form-control"
                                data-ng-model="parent.mother_mobile"
                                required
                                name="fathmother_mobileer_name"
                                id="mother_mobile"
                                data-ng-minlength="10">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="mother_job"> Mother Job</label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Min length 2, Max length 100"
                            data-ng-model="parent.mother_job"
                            required
                            name="mother_job"
                            id="mother_job"
                            data-ng-minlength="2"
                            data-ng-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Image</label>
                </div>
                <div class="col-sm-9">
                    <div class="thumbnail col-md-2"  ng-if="parent.id!='' && parent.image!=''" >
                        <img ng-src='/content/parent/{{parent.image}}'>
                        <center>
                            <button type="button" tooltip="Delete Parent Image " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteParentImage(parent.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </center>
                    </div>

                    <input type="file" nv-file-select="" uploader="uploader" ng-if="parent.id=='' || parent.image==''"/>
                </div>
            </div>
            <div  style="margin-bottom: 40px" ng-if="parent.id=='' || parent.image==''">



                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>

                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>

                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

            <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                <spna ng-if="parent.id==''">  Add Parent</spna>   <spna ng-if="parent.id!=''">  Update Parent</spna>
            </button>


        </form>
    </div>
</section>
<section class="panel panel-default table-dynamic" ng-init="getParents()">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Parents</strong></div>

    <div class="table-filters">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                    <input type="text"
                           placeholder="search"
                           class="form-control"
                           data-ng-model="searchKeywords"
                           data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredParents.length}}/{{ parentModel.parent.length}} entries
                    </span>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
            <th>Image</th>
            <th><div class="th">
                Father Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('father_name') "
                              data-ng-class="{active: row == 'father_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-father_name') "
                              data-ng-class="{active: row == '-father_name'}"></span>
            </div></th>
            <th><div class="th">
                Father  Email
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('father_email') "
                              data-ng-class="{active: row == 'father_email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-father_email') "
                              data-ng-class="{active: row == '-father_email'}"></span>
            </div></th>
            <th><div class="th">
                Father  Mobile
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('father_mobile') "
                              data-ng-class="{active: row == 'father_mobile'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-father_mobile') "
                              data-ng-class="{active: row == '-father_mobile'}"></span>
            </div></th>
            <th><div class="th">
                Father Job
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('father_job') "
                              data-ng-class="{active: row == 'father_job'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-father_job') "
                              data-ng-class="{active: row == '-father_job'}"></span>
            </div></th>
            <th><div class="th">
                Mother Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mother_name') "
                              data-ng-class="{active: row == 'mother_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mother_name') "
                              data-ng-class="{active: row == '-mother_name'}"></span>
            </div></th>
            <th><div class="th">
                Mother Email
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mother_email') "
                              data-ng-class="{active: row == 'mother_email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mother_email') "
                              data-ng-class="{active: row == '-mother_email'}"></span>
            </div></th>

            <th><div class="th">
                Mother Mobile
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mother_mobile') "
                              data-ng-class="{active: row == 'mother_mobile'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mother_mobile') "
                              data-ng-class="{active: row == '-mother_mobile'}"></span>
            </div></th>
            <th><div class="th">
                Mother Job
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mother_job') "
                              data-ng-class="{active: row == 'mother_job'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mother_job') "
                              data-ng-class="{active: row == '-mother_job'}"></span>
            </div></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="parent in currentPageParents">

            <td ng-bind="parent.id"></td>
            <td class="thumbnail col-md-1">   <img ng-src="/content/parent/{{(parent.image!='' && parent.image!=undefined && parent.image!=NULL)?parent.image:'parents.jpg'}}" alt="{{parent.father_name}}">
            </td>
            <td ng-bind="parent.father_name"></td>
            <td ng-bind="parent.father_email"></td>
            <td ng-bind="parent.father_mobile"></td>
            <td ng-bind="parent.father_job"></td>
            <td ng-bind="parent.mother_name"></td>
            <td ng-bind="parent.mother_email"></td>
            <td ng-bind="parent.mother_mobile"></td>

            <td ng-bind="parent.mother_job"></td>
            <td>
                <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editParent(parent)"><i class="glyphicon glyphicon-pencil"></i></button>

                <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteParent(parent.id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        </tbody>
    </table>

    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm"
                            page="currentPage"
                            total-items="filteredParents.length"
                            max-size="4"
                            on-select-page="select(page)"
                            items-per-page="numPerPage"
                            rotate="false"
                            boundary-links="true"></pagination>
            </div>
        </div>
    </footer>
</section>


</div>