<div class="page page-tabel" data-ng-controller="SchoolCtrl">

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New School</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addSchool()" name="add_school">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="school_name"> Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="school.name"
                               required
                               id="school_name"
                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="address">Address</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea data-ng-model="school.address"
                                  required
                                  id="address"
                                  data-ng-minlength="2" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="image"> Image</label>
                    </div>

                    <div class="col-sm-9">
                        <div class="thumbnail col-md-2" ng-if="school.id!='' && school.logo!=''">
                            <img ng-src='/content/schools/{{school.logo}}' alt="{{school.name}}">
                            <center>
                                <button type="button" tooltip="Delete School Image " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteSchoolImage(school.id)"><span class="glyphicon glyphicon-trash"></span></button>
                            </center>

                        </div>
                        <input type="file" id="image" nv-file-select="" uploader="uploader" ng-if="school.id=='' || school.logo==''"/>
                    </div>
                </div>
                <div  style="margin-bottom: 40px" ng-if="school.id=='' || school.logo==''">



                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>

                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>

                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <span ng-if="school.id==''">  Add School</span>   <span ng-if="school.id!=''">  Update School</span>
                </button>


            </form>   
        </div>
    </section>


    <section class="panel panel-default table-dynamic" ng-init="getSchools()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Schools</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredSchools.length}}/{{ schoolModel.schools.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th></th>
                    <th><div class="th">
                        Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Address
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('address') "
                              data-ng-class="{active: row == 'address'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-address') "
                              data-ng-class="{active: row == '-address'}"></span>
                        </div></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="school in currentPageSchools">

                    <td ng-bind="school.id"></td>
                    <td class="thumbnail col-md-2">   <img ng-src='/content/schools/{{school.logo}}' alt="{{school.name}}">
                    </td>
                    <td ng-bind="school.name"></td>
                    <td ng-bind="school.address"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editSchool(school)"><i class="glyphicon glyphicon-pencil"></i></button>

                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteSchool(school.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredSchools.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>