<div class="page page-table"   data-ng-controller="TeamCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Member</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addTeamMember()" name="add_team_member">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="member.name"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Email</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="email"
                               class="form-control"
                               data-ng-model="member.email"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Mobile</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               data-ng-model="member.mobile"
                               required
                               data-ng-minlength="10">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Post</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="member.post"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Username</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="member.username"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Description</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea data-ng-model="member.description"
                                  required
                                  data-ng-minlength="2" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Linked In</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 100"
                               data-ng-model="member.linkedin"

                               data-ng-minlength="2"
                               data-ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Access</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select"   >
                            <select required ng-model="member.access" >
                                <option value="" ng-selected>-- select access level --</option>
                                <option value="teacher">Teacher</option>
                                <option value="admin">Admin</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="show_on_web">Show On Website</label>
                        <label class="switch"><input type="checkbox" checked id="show_on_web" name="show_on_web" ng-model="member.show_on_web" ><i></i></label>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <label> Image</label>
                    </div>
                    <div class="col-sm-9">
                            <div class="thumbnail col-md-2" ng-if="member.id!='' && member.image!=''">
                                <img ng-src='/content/team/{{member.image}}' alt="{{member.name}}">
                                <center>
                                    <button type="button" tooltip="Delete Team Member Image " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteTeamMemberImage(member.id)"><span class="glyphicon glyphicon-trash"></span></button>
                                </center>
                            </div>
                            <input type="file" id="image" nv-file-select="" uploader="uploader" ng-if="school.id=='' || school.logo==''"/>

                        <input type="file" nv-file-select="" uploader="uploader" ng-if="member.id=='' || member.image==''"/>
                    </div>
                </div>
                <div  style="margin-bottom: 40px" ng-if="member.id=='' || member.image==''">



                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>

                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>

                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <spna ng-if="member.id==''">  Add Member</spna>   <spna ng-if="member.id!=''">  Update Member</spna>  
                </button>


            </form>   
        </div>
    </section>
    <section class="panel panel-default table-dynamic" ng-init="getTeamMembers()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Team Members</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredMembers.length}}/{{ teamModel.members.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th>Image</th>
                    <th><div class="th">
                        Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Email
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                        </div></th>
                    <th><div class="th">
                        Mobile
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mobile') "
                              data-ng-class="{active: row == 'mobile'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mobile') "
                              data-ng-class="{active: row == '-mobile'}"></span>
                        </div></th>
                    <th><div class="th">
                        Post
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('post') "
                              data-ng-class="{active: row == 'post'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-post') "
                              data-ng-class="{active: row == '-post'}"></span>
                        </div></th>
                    <th><div class="th">
                        Username
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('username') "
                              data-ng-class="{active: row == 'username'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-username') "
                              data-ng-class="{active: row == '-username'}"></span>
                        </div></th>

                    <th><div class="th">
                        Access
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('access') "
                              data-ng-class="{active: row == 'access'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-access') "
                              data-ng-class="{active: row == '-access'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="member in currentPageMembers">

                    <td ng-bind="member.id"></td>
                    <td ng-if="member.image!=''" class="thumbnail col-md-1">   <img ng-src='/content/team/{{member.image}}' alt="{{member.name}}">
                    </td>
                    <td ng-if="member.image==''" class="thumbnail col-md-1">   <img ng-src='/content/team/avatar.png' alt="{{member.name}}">
                    </td>
                    <td ng-bind="member.name"></td>
                    <td ng-bind="member.email"></td>
                    <td ng-bind="member.mobile"></td>
                    <td ng-bind="member.post"></td>
                    <td ng-bind="member.username"></td>

                    <td ng-bind="member.access"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editMember(member)"><i class="glyphicon glyphicon-pencil"></i></button>

                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteTeamMember(member.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredMembers.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>