<div class="page page-table"   data-ng-controller="TestimonialCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Tesimonial</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addTestimonial()" name="add_testimonial">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Testimonial</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea data-ng-model="testimonialModel.testimonial.testimonial"
                                  required
                                  data-ng-minlength="2" class="form-control" rows="4"></textarea>
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Parents</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select required ng-model="testimonialModel.testimonial.parent_id"
                                    ng-options="parent.id as (parent.father_name+' & '+parent.mother_name+' ('+parent.id+') ') for parent in testimonialModel.parents">
                                <option value="" ng-selected>-- choose parent --</option>
                            </select>
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Posted By</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select required ng-model="testimonialModel.testimonial.posted_by" >
                                <option value="" ng-selected>-- select values --</option>
                                <option value="father">Father</option>
                                <option value="mother">Mother</option>
                                <option value="parents">Parents</option>
                            </select>
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <spna ng-if="testimonialModel.testimonial.id==''">  Add Testimonial</spna>   <spna ng-if="testimonialModel.testimonial.id!=''">  Update Testimonial</spna>  
                </button>


            </form>   
        </div>
    </section>
    <section class="panel panel-default table-dynamic" ng-init="getAllTestimonials()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>All Testimonials</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredTestimonials.length}}/{{ testimonialModel.allTestimonials.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th><div class="th">
                        Testimonial
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('testimonial') "
                              data-ng-class="{active: row == 'testimonial'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-testimonial') "
                              data-ng-class="{active: row == '-testimonial'}"></span>
                        </div></th>
                    <th><div class="th">
                        Parent
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('parent') "
                              data-ng-class="{active: row == 'parent'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-parent') "
                              data-ng-class="{active: row == '-parent'}"></span>
                        </div></th>
                    <th><div class="th">
                        Posted By
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('posted_by') "
                              data-ng-class="{active: row == 'posted_by'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-posted_by') "
                              data-ng-class="{active: row == '-posted_by'}"></span>
                        </div></th>
                    <th><div class="th">
                        Parent Of
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('parents.student[0].name') "
                              data-ng-class="{active: row == 'parents.student[0].name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-parents.student[0].name') "
                              data-ng-class="{active: row == '-parents.student[0].name'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="testimonial in currentPageTestimonials">

                    <td ng-bind="testimonial.id"></td>
                    <td ng-bind="testimonial.testimonial"></td>
                    <td ng-bind="testimonial.parents.father_name + ' & '+ testimonial.parents.mother_name "></td>
                    <td ng-bind="testimonial.posted_by "></td>
                    <td ng-bind="testimonial.parents.student[0].name"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editTestimonial(testimonial)"><i class="glyphicon glyphicon-pencil"></i></button>

                        <button  ng-disabled="testimonial.status=='approved'" tooltip="  Show on Website " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-primary" role="button" ng-click="showTestimonialOnWebsite(testimonial)"><i class="glyphicon glyphicon-ok"></i></button>
                        <button  ng-disabled="testimonial.status=='rejected'" tooltip=" Hide From Website" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-warning" role="button" ng-click="hideTestimonialOnWebsite(testimonial)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                        
                       
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredTestimonials.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>