<div class="page-err">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                <h1>403</h1>
            </div>
            <div class="err-message">
                <h2>You are not authorized to view this page</h2>
            </div>
            <div class="err-body">
                <a href="#/" class="btn btn-lg btn-goback">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="space"></span>
                    Go Back to Home Page
                </a>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        Copyright 2014 {{main.brand}}
    </div>
</div>