
<div class="modal-body">
    <h3>Delete Gallery Event</h3>
    <p>Deleting gallery event will result in deletion of  all  the videos and photos belonging to that event.
    <p>Click on 'Ok' if you want to delete Gallery Event else 'Cancel'</p>
    <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
