<div class="page page-table" data-ng-controller="GalleryCtrl">
    
     <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Event</strong>
        </div>
        <div class="panel-body">
            <form role="form" class=" form-validation" data-ng-submit="addGalleryEvent()" name="add_event">
                <div class="form-group">
                    <div class="col-sm-2">
                        <label for="">Event Name</label>
                    </div>
                    <div class="col-sm-10">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 30"
                               data-ng-model="event.name"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label for="">Category</label>
                    </div>
                    <div class="col-sm-10">
                        <span class="ui-select"   >
                            <select required ng-model="event.category" >
                                <option value="" ng-selected>-- select category --</option>
                                <option value="photos">Photos</option>
                                <option value="videos">Videos</option>
                                <option value="student outputs">Student Outputs</option>
                            </select>
                        </span>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <span ng-if="event.id==''">Add Event</span>
                    <span ng-if="event.id!=''">Update Event</span>
                </button>
                
                
            </form>   
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-init="getGalleryEvents()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Gallery Events</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredEvents.length}}/{{ galleryModel.galleryEvents.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">#</div></th>
                    <th><div class="th">
                        Event Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Category
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('category') "
                              data-ng-class="{active: row == 'category'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-category') "
                              data-ng-class="{active: row == '-category'}"></span>
                        </div></th>
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                    <th><div class="th">
                        Created At
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('created_at') "
                              data-ng-class="{active: row == 'created_at'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-created_at') "
                              data-ng-class="{active: row == '-created_at'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="event in currentPageEvents">
                    <td ng-bind="event.id"></td>
                    <td ng-bind="event.name"></td>
                    <td class="text-capitalize" ng-bind="event.category"></td>
                    <td ng-bind="event.status"></td>
                    <td ng-bind="event.created_at"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editEvent(event)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button  ng-disabled="event.status=='active'" tooltip="  Active" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-primary" role="button" ng-click="toggleGalleryEventStatus(event.id)"><i class="glyphicon glyphicon-ok"></i></button>
                        <button  ng-disabled="event.status=='inactive'" tooltip=" Inactive" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-warning" role="button" ng-click="toggleGalleryEventStatus(event.id)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteGalleryEvent(event.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredEvents.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>