<div class="page"  data-ng-controller="GalleryCtrl" ng-init="getGalleryEvents()">

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Photos to Gallery</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addGalleryPhoto()" name="add_photo">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Caption</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2"
                               data-ng-model="photo.caption"
                               required
                               data-ng-minlength="2"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Event</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select required ng-model="photo.gallery_events_id"
                                    ng-options="event.id as event.name+' ('+event.category+')' for event in galleryModel.galleryEvents">
                                <option value="" ng-selected>-- choose category --</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Type</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select"   >
                            <select required ng-model="photo.type" ng-disabled="photo.id!=''" >
                                <option value="" >-- select type --</option>
                                <option value="image" ng-selected>Image</option>
                                <option value="video">Video</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label for="">Show On Home Page</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="switch switch-success"><input type="checkbox" ng-checked="photo.show_on_home_page" ng-model="photo.show_on_home_page"><i></i></label>
                    </div>
                </div>
                <div ng-if="photo.type=='image' && photo.id==''" class="form-group">
                    <div class="col-sm-3">
                        <label for="">Image</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="file" nv-file-select="" uploader="uploader" ng-if="photo.id==''"/>
                    </div>

                    <div class="" style="margin-bottom: 40px"; ng-if="photo.id==''">



                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>

                                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                                    </td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>

                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div ng-if="photo.type=='video'" class="form-group">
                    <div class="col-sm-3">
                        <label for="">Youtube Embed URL</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="url"
                               class="form-control"
                               data-ng-model="photo.name"
                               required
                               data-ng-minlength="2"
                               >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmitFiles()">
                    <spna ng-if="photo.id==''">  Add Gallery Item</spna>   <spna ng-if="photo.id!=''">  Update Gallery Item</spna>  
                </button>


            </form>   
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-init="getGalleryPhotos()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Gallery Photos</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredPhotos.length}}/{{ galleryModel.galleryPhotos.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th></th>
                    <th><div class="th">
                        Caption
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('caption') "
                              data-ng-class="{active: row == 'caption'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-caption') "
                              data-ng-class="{active: row == '-caption'}"></span>
                        </div></th>
                    <th><div class="th">
                        Event
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('gallery_events.name') "
                              data-ng-class="{active: row == 'gallery_events.name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-gallery_events.name') "
                              data-ng-class="{active: row == '-gallery_events.name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                    <th><div class="th">
                        Show On Home Page
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('show_on_home_page') "
                              data-ng-class="{active: row == 'show_on_home_page'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-show_on_home_page') "
                              data-ng-class="{active: row == '-show_on_home_page'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="photo in currentPagePhotos">

                    <td ng-bind="photo.id"></td>
                    <td class="thumbnail col-md-2">
                        <img ng-if= "photo.type =='image'"  ng-src='/content/gallery/{{photo.name}}' alt="{{photo.caption}}">
                        <span  ng-if= "photo.type =='video'" class=" embed-responsive embed-responsive-4by3" >

                            <iframe  class="embed-responsive-item"  ng-src="{{photo.name}}" frameborder="0" allowfullscreen ></iframe>
                        </span>
                    </td>
                    <td ng-bind="photo.caption"></td>
                    <td ng-bind="photo.gallery_events.name"></td>
                    <td ng-bind="photo.status"></td>
                    <td ng-bind="photo.show_on_home_page"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editPhoto(photo)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button  ng-disabled="photo.status=='active'" tooltip="  Active" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-primary" role="button" ng-click="toggleGalleryPhotoStatus(photo.id)"><i class="glyphicon glyphicon-ok"></i></button>
                        <button  ng-disabled="photo.status=='inactive'" tooltip=" Inactive" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-warning" role="button" ng-click="toggleGalleryPhotoStatus(photo.id)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteGalleryPhoto(photo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredPhotos.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>