<div class="page">


    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Student Registration Form</strong></div>
        <div class="panel-body">
            <div data-ui-wizard-form >
                <h1>Student Detail form</h1>
    <div class="row" style="width:100%; padding:0%; margin:1% -1% height:auto;overflow:scroll">
        <div class="col-md-8" data-ng-controller="formConstraintsCtrl" style="padding-left:25px;padding-right:8px">
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
            <div class="form-group">
                            <label for="">Student Name</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >
                            <br>
                
                             <!-- Datepicker -->
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Datepicker</strong></div>
        <div class="panel-body" data-ng-controller="DatepickerDemoCtrl">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group ui-datepicker">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" 
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="dt"
                               is-open="opened"
                               min="minDate"
                               max="'2015-06-22'"
                               datepicker-options="dateOptions" 
                               date-disabled="disabled(date, mode)"
                               ng-required="true" 
                               close-text="Close">
                    </div>
                    <div class="callout callout-info">
                        <p>Date is: {{dt | date:'fullDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Datepicker -->
                                                       
                            <label for="">Class</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >
                            <label for="">Class</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >
                            <label for="">Class</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >
                            <label for="">Class</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >
                            <label for="">Class</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >
                            <label for="">Class</label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="form.required"
                            >

                    </div>
                </form>

        </div>
    </div>
 
                <h1>Second Step</h1>
                <div>Second Content</div>

                <h1>Third Step</h1>
                <div>Third Content</div>  
            </div>

        </div>
    </section>
</div>