@charset "utf-8";
/* CSS Document */

/* ---------- ENTYPO ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(/css/lib/weloveiconfontsapi.css);

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}


body{
    background:#e4e4e4;padding:6.2% 10%  0% 10%;
}

/*champs color f58634
* making color 36498d
*/
/* Throughout website
-------------------------------------------------- */
.footer {
    bottom: 0px;
    width: 100%;
    height: 20px;
    padding-top:1%;
        z-index:99;
}


.link
{
    cursor: pointer;
    color: #337ab7 ;
}
.link:hover{
    text-decoration: underline;
}

.footer .text-center{
    display:none;
}

.body-content{
    margin-top: 5%;
    /* padding: 0 0 40px 0; */
      padding: 5% 0 0 0;

}

.navbar-brand{
    padding:5px 15px;
}

.navbar{
    background: white;
}
.navbar-default .navbar-nav > .active {
    border: 2px sloid #f58634;

}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #f58634;
    background: white;
    border-bottom : #f58634 solid;
}

::-webkit-scrollbar-thumb {
    background-color: #f58634;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: #cccccc;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

/*-----------------Home Page ------------- */

.testimonials{
    margin:10px 0px;border-radius:5px; -webkit-box-shadow: 0px 20px 67px -30px rgba(128,123,128,0.68);
    -moz-box-shadow: 0px 20px 67px -30px rgba(128,123,128,0.68);
    box-shadow: 0px 20px 67px -30px rgba(128,123,128,0.68);
}

.first-section{
    margin-top: -15px;
    -webkit-box-shadow: 0px 20px 67px -30px rgba(128,123,128,0.68);
    -moz-box-shadow: 0px 20px 67px -30px rgba(128,123,128,0.68);
    box-shadow: 0px 20px 67px -30px rgba(128,123,128,0.68);
    padding:0px;
}
#home-caraousel{
    margin-left:-15px;
    margin-right:-15px;
}
#home-caraousel .item {
    width: 100%; /*slider width*/
    max-height:450px; /*slider height*/
}
#home-caraousel  .item img {
    width: 100%; /*img width*/
}
#home-caraousel  .item .carousel-caption {
    font-size:30px;
    background: rgba(255, 255,255, .75);
    color:#36498d;
    right: 0%;
    left:0%;
    width: 100%;
    padding-top:1%;
    padding-bottom:0.2%;
    bottom:10%;
}

blockquote{
    border-color: purple;
}


.page-title{
    color:#5bc0de;    
}
.member-content .social-content li a{
    display:inline-block;
    padding:0;
    min-width:40px;
    height:40px;
    font-size:21px;
    line-height:40px;
    color:#5cc9df;
    border-radius:5px;
    box-shadow:0 3px 0 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content .details {
    margin:20px 0 0 20px;
    position:relative;
    padding:10px 30px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content {
    margin-bottom:30px;
}

.member-thumb{
    text-align:center;
}

.member-thumb h4{
    font-size:21px;
    margin:10px 0;
}

.member-thumb .title{
    font-size:18px;
    margin:10px 0;
    color:#5CC9DF;
}



.member-content:hover .details {
    background:#5bc0de;
    color:#fff;
}

.member-content.right .details {
    margin:20px 20px 0 0;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
}

.member-content .details:after {
    display:block;
    content:"";
    position:absolute;
    left:-18px;
    top:30px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    box-shadow:-3px 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.member-content.right .details:after {
    position:absolute;
    left:auto;
    right:-17px;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    box-shadow:3px 0 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.member-content:hover .details:after {
    border-left-color:#5CC9DF;
}

.member-content.right:hover .details:after {
    border-left-color:transparent;
    border-right-color:#5CC9DF;
}

.member-content .details:before {
    display:block;
/*    content:"\201D";*/
/*    position:absolute;*/
/*    left:20px;*/
/*    top:50px;*/
    font-size:120px;
    font-weight:800;
    line-height:60px;
    font-family:Arial;
    color:#5cc9df;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content:hover .details:before {
    color:#fff;
}

.member-content .social-content {
    list-style:none;
    margin:0;
    padding:0;
}

.member-content .social-content li {
    display:inline;
    text-align:center;
    margin:0 2px;
}

.member-content:hover .social-content li a {
    color:#fff;
}

.member-content .social-content li a:hover{
    background:#fff;
    color:#5cc9df;
    box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
}


.announcements > ul{
    max-height:220px;
    overflow:auto;
}

.announcements > ul > li{
    padding:1%;
    border:0px;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

.announcements > ul > li:first-child{
    border-top:0px;
}
.announcements > ul > li:last-child{
    border-bottom:0px;
}

#testimonials-row{

    color:#36498d;

}

#testimonials-row .control{
    padding:2%;
}



#testimonials-row .small{
    color:#36498d;
}


#testimonials-row .carousel-inner{
    height:110px;
}


.testimonials .img-circle{
    width:90px;
    height:90px;
}
.bottom-section{

    -webkit-box-shadow: 0px -20px 67px -19px rgba(128,123,128,0.68);
    -moz-box-shadow: 0px -20px 67px -19px rgba(128,123,128,0.68);
    box-shadow: 0px -20px 67px -19px rgba(128,123,128,0.68);
    background-color: #f6f6f6;
}

.bottom-section-item
{

    -webkit-box-shadow: 5px black;
    -moz-box-shadow: 5px black;
    box-shadow: 5px black;

    border-radius: 3px;
    -webkit-border-radius:3px;
    -mox-border-radius:3px;

    background-color: white;
    border: 1px solid silver;
    margin: 4% -3% 4% -3%;
    padding: 3%;
}

.bottom-section-item > h5
{
    font-weight: 700;
    color: white;
    border-bottom: 1px solid rgb(223, 221, 221);
    margin: -3% -3% 0 -3%;
    padding: 3%;
    background-color: #36498d;

}

.bottom-section-item > .content
{
    padding: 2% 0% 0%;
}





@media (min-width: 768px) and (max-width: 963px)  {

    .first-section{

        margin-top: 65px;
    }



}

@media(max-width:1124){
    #testimonials-row .carousel-inner{
        height:165px;
    }
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .body-content{
        margin-top: 13%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }
    
    #testimonials-row .carousel-inner{
        height:250px;
    }

    #testimonials-row .carousel-inner h4{
        max-height:100px;
        overflow: hidden;

    }



    #home-caraousel .item .carousel-caption{
        font-size: 15px;
        padding: 3%;
    }
    #testimonials-row{
        padding-bottom:20%;
    }

    .footer .text-center{
        display:block;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
    

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 319px) {
    /* Styles */
    .body-content{
        margin-top: 7%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    .body-content{
        margin-top: 4%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    
    .body-content{
        margin-top: 10.5%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .body-content{
        margin-top: 10.5%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .body-content{
        margin-top: 10.5%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .body-content{
        margin-top: 10.5%;
        /* padding: 0 0 40px 0; */
          padding: 5% 0 0 0;

    }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}




#social-sidebar {
    left: 0;
    margin-top: -75px; /* (li * a:width) / -2 */
    position: fixed;
    top: 50%;
    z-index: 999;
}

#social-sidebar li:first-child a { border-radius: 0 5px 0 0; }
#social-sidebar li:last-child a { border-radius: 0 0 5px 0; }

#social-sidebar a {
    background: #66b5d7;
    color: #fff;
    display: block;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 50px;
}

#social-sidebar a:hover span {
    left: 130%;
    opacity: 1;
}

#social-sidebar a span {
    border-radius: 3px;
    line-height: 24px;
    left: -100%;
    margin-top: -16px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 4px 8px;
    position: absolute;
    -webkit-transition: opacity .3s, left .4s;
    -moz-transition: opacity .3s, left .4s;
    -ms-transition: opacity .3s, left .4s;
    -o-transition: opacity .3s, left .4s;
    transition: opacity .3s, left .4s;
    top: 50%;
    white-space: nowrap;
    z-index: 999;
}

#social-sidebar a span:before {
    content: "";
    display: block;
    height: 8px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    z-index: 999;
}

#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before { background: #00aced; }

#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before { background: #3b5998; }

#social-sidebar a[class*="clipboard"]:hover,
#social-sidebar a[class*="clipboard"] span,
#social-sidebar a[class*="clipboard"] span:before { background: #f26300; }

#social-sidebar a[class*="video"]:hover,
#social-sidebar a[class*="video"] span,
#social-sidebar a[class*="video"] span:before { background: #cc181e; }

#social-sidebar a[class*="linkedin"]:hover,
#social-sidebar a[class*="linkedin"] span,
#social-sidebar a[class*="linkedin"] span:before { background: #00aced; }

#social-sidebar a[class*="google-circles"]:hover,
#social-sidebar a[class*="google-circles"] span,
#social-sidebar a[class*="google-circles"] span:before { background: #cc181e; }


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pillar-item{

    height: 300px;

    cursor: pointer;

    opacity: 0.8;

}

.pillar-item:hover{

    opacity: 1;
}

/*Need page css*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
}

/*home page */


.zoomTransition{}

.zoomTransition:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    z-index:99;
    transition: transform 1s linear;
}

.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slidedown.ng-enter {
    top: -100%;
}
.slidedown.ng-enter-active {
    top: 0;
}
.slidedown.ng-leave {
    top: 0;
}
.slidedown.ng-leave-active {
    top: 100%;
}



.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position:relative;
}

.my-repeat-animation.ng-enter {
    left:-10px;
    opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}

.my-repeat-animation.ng-leave {
    left:0;
    opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
    left:-10px;
    opacity:0;
}

.my-repeat-animation.ng-move {
    opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
    opacity:1;
}


.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 450ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}


.slide_view {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide_view.ng-enter,
.slide_view.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide_view.ng-enter {
    left: 100%;
}
.slide_view.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide_view.ng-leave-active {
    left: -100%;
}

/*need page css*/
.member-contentneed .detailsneed {
    margin:3px 0 0 3px;
    position:relative;
    padding:15px 30px 10px 30px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;

    width: 700px;
}

.member-contentneed {
    margin-bottom:10px;
}
.member-contentneed:hover .detailsneed {
    background:#5bc0de;
    color:#fff;
}

.member-contentneed.right .detailsneed {
    margin:3px 3px 0 0;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    float: right;
}

.member-contentneed .detailsneed:after {
    display:block;
    content:"";
    position:absolute;
    left:-18px;
    top:2px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    box-shadow:-3px 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.member-contentneed.right .detailsneed:after {
    position:absolute;
    left:auto;
    right:-17px;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    box-shadow:3px 0 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.member-contentneed:hover .detailsneed:after {
    border-left-color:#5CC9DF;
}

.member-contentneed.right:hover .detailsneed:after {
    border-left-color:transparent;
    border-right-color:#5CC9DF;
}

.member-contentneed .detailsneed:before {
    display:block;
/*    content:"\201D";*/
/*    position:absolute;*/
/*    left:20px;*/
/*    top:50px;*/
    font-size:120px;
    font-weight:800;
    line-height:60px;
    font-family:Arial;
    color:#5cc9df;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-contentneed:hover .detailsneed:before {
    color:#fff;
}



/*date picker*/



/*end datepicker*/
