<div class="page page-table" data-ng-controller="BatchesCtrl" >

    <section class="panel panel-default" ng-init="getFormData()">
        <div class="panel-heading">
            <strong><span ng-if="batchesModel.batch_id==0">Add</span><span ng-if="batchesModel.batch_id!=0">Update</span> New Batch </strong>
           
        </div>
        <div class="panel-body">
            <form role="form" class=" form-horizontal form-validation" data-ng-submit="addNewBatch()" name="add_batch">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Batch Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 30"
                               data-ng-model="batchesModel.new_batch.caption"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> Start Date</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" 
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="batchesModel.new_batch.start_date"

                               ng-required="true" 
                               >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> End Date</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" 
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="batchesModel.new_batch.end_date"

                               ng-required="true" 
                               >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Level</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select required ng-model="batchesModel.new_batch.level_id"
                                    ng-options="level.id as level.name for level in batchesModel.levels" ng-change="batchesModel.new_batch.batch_code='L'+batchesModel.new_batch.level_id+'0'">
                                <option value="" ng-selected>-- choose level --</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Batch Code</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 3, Max length 30"
                               data-ng-model="batchesModel.new_batch.batch_code"
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Teacher</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select required ng-model="batchesModel.new_batch.teacher_id"
                                    ng-options="teacher.id as teacher.name for teacher in batchesModel.teachers">
                                <option value="" ng-selected>-- choose teacher --</option>
                            </select>
                        </span>
                    </div>
                </div>
<!--                <label class="row">Enter Batch Start Time,End Time, Location and day</label>-->
<!--
                <label class="row">
                    <div class="col-sm-3">End Time</div>
                <div class="col-sm-3">Location</div>
                <div class="col-sm-3">Day</div>
                </label>
-->
                <div class="form-group" ng-repeat="details in batchesModel.new_batch.details">
                    <div class="col-sm-3">
                        <label for="" style="display:inline-block;">Start Time</label>
                        <div  ng-model="details.start_time"  >
                            <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="" style="display:inline-block;">End Time</label>
                        <div ng-model="details.end_time"  >
                            <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="" style="display:inline-block;">Location</label>
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 30"
                               data-ng-model="details.location"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="30">
                    </div>
                    <div class="col-sm-3">
                        <label for="" >Day</label><br/>
                        <select required ng-model="details.day" >
                            <option value="" ng-selected>-- select week --</option>
                            <option value="sunday">Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="monday-friday">Monday-Friday</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg"  ng-click="AddNewDay()">Add New Day</button>
                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <span ng-if="batchesModel.new_batch.id==''">Add Batch</span>
                    <span ng-if="batchesModel.new_batch.id!=''">Update Batch</span>
                </button>


            </form>   
        </div>
    </section>
</div>
