<div class="page page-table" ng-controller="BatchesCtrl">

    <section class="panel panel-default table-dynamic" ng-init="getAllBatches()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>All Batches</strong></div>
        <div class="panel-body" ng-if="!batchesModel.allBatches.length">
            <div class="callout callout-warning container-fluid" >
                <p>No  Batches Found.</p>
            </div>
        </div>
        <div class="table-filters" ng-if="batchesModel.allBatches.length">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredBatches.length}}/{{ batchesModel.allBatches.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped" ng-if="batchesModel.allBatches.length">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th><div class="th">Code
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('batch_code') "
                              data-ng-class="{active: row == 'batch_code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-batch_code') "
                              data-ng-class="{active: row == '-batch_code'}"></span></div></th>
                    <th><div class="th">
                        Caption
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('caption') "
                              data-ng-class="{active: row == 'caption'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-caption') "
                              data-ng-class="{active: row == '-caption'}"></span>
                        </div></th>
                    <th><div class="th">
                        Teacher
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('admin.name') "
                              data-ng-class="{active: row == 'admin.name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-admin.name') "
                              data-ng-class="{active: row == '-admin.name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Start Date
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('start_date') "
                              data-ng-class="{active: row == 'start_date'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-start_date') "
                              data-ng-class="{active: row == '-start_date'}"></span>
                        </div></th>
                    <th><div class="th">
                        End Date
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('end_date') "
                              data-ng-class="{active: row == 'end_date'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-end_date') "
                              data-ng-class="{active: row == '-end_date'}"></span>
                        </div></th>
                    <th><div class="th">
                        Level
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('level_id') "
                              data-ng-class="{active: row == 'level_id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-level_id') "
                              data-ng-class="{active: row == '-level_id'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="batch in currentPageBatches">

                    <td ><a href="#/batches/view/{{batch.id}}" ng-bind="batch.id" style="color:#2cacaa" ></a></td>
                    <td ><a href="#/batches/view/{{batch.id}}" ng-bind="batch.batch_code" style="color:#2cacaa" ></a></td>
                    <td ><a href="#/batches/view/{{batch.id}}" ng-bind="batch.caption" style="color:#2cacaa" ></a></td>
                    <td ng-bind="batch.admin.name"></td>
                    <td ng-bind="batch.start_date"></td>
                    <td ng-bind="batch.end_date"></td>
                    <td ng-bind="batch.level_id"></td>
                    <td>
                        <a   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" href="#/batches/edit/{{batch.id}}"><i class="glyphicon glyphicon-pencil"></i></a>

                        <a  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteBatch(batch.id)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer" ng-if="batchesModel.allBatches.length">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredBatches.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>