
<div class="modal-body">
    <h3>Delete Batch</h3>
    <p>Deleting batch will result in deletion of  all  the students and data related to that batch
    <p>Click on 'Ok' if you want to delete Batch else 'Cancel'</p>
    <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
