<div class="page page-table" ng-controller="BatchesCtrl">
    <div ng-init="getBatchDetails()">
        <div class="row-fluid pull-right">
            <a   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" href="#/batches/edit/{{batchesModel.batch.batchInfo.id}}"><i class="glyphicon glyphicon-pencil"></i></a>

            <a  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteBatch(batchesModel.batch.batchInfo.id)"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <div class=" row-fluid">
            <div class="col-md-6">
                <section  class=" white-bg padding-top-bottom">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="section-title page-title">Batch Info</h3>
                            <hr>
                            <h4 class="section-title page-title">

                                <div class="row">

                                    <div class="col-md-7">
                                        <h4> Level {{batchesModel.batch.batchInfo.level_id}} | {{batchesModel.batch.batchInfo.batch_code}} | {{batchesModel.batch.batchInfo.caption}}</h4>
                                    </div>
                                    <div class="col-md-5">
                                        <h5> {{batchesModel.batch.batchInfo.start_date}} - {{batchesModel.batch.batchInfo.end_date}}</h5>
                                    </div>
                                </div>

                            </h4>
                            <hr>
                            <div class="row" ng-repeat="day in batchesModel.batch.batchSchedule" style="margin:10px; text-transform:capitalize">
                                <div class="col-md-3">
                                    <strong style="font-size:18px;">{{day.day}}</strong>
                                </div>
                                <div class="col-md-5" style="font-size:16px;"> 
                                    {{day.location}}
                                </div>
                                <div class="col-md-4">
                                    {{day.start_time}} - {{day.end_time}}
                                </div>

                            </div>  

                        </div>
                    </div>
                </section>

                <section id="courseProgress" class="white-bg padding-top-bottom list-group-item">

                    <h3 class="section-title page-title">Course Progress</h3>

                    <div ng-repeat=" mainTask in batchesModel.batch.batchTaskStatus" style="margin:30px 5px 35px 5px; color: #323232; font-size:22px;">

                        <span data-ng-if="!subTask.is_completed" style="margin-right: 20px;" class="glyphicon glyphicon-unchecked"></span>
                        <span data-ng-if="subTask.is_completed" style="margin-right: 20px; color:green;" class="glyphicon glyphicon-check"></span>
                        <span>
                            {{mainTask.caption}}
                        </span>
                        <hr>
                        <div ng-repeat=" subTask in mainTask.sub_task" style="margin: 10px 10px 10px 2px;; color: #4c4c4c; font-size:16px;">  

                            <span data-ng-if="!subTask.is_completed" style="margin-right: 20px;" class="glyphicon glyphicon-unchecked"></span>
                            <span data-ng-if="subTask.is_completed" style="margin-right: 20px; color:green;" class="glyphicon glyphicon-check"></span>
                            {{subTask.caption}}

                        </div>

                    </div>



                </section>

            </div>
            <div class="col-md-6" >
                <section  class=" white-bg padding-top-bottom">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="section-title page-title"> Teacher Details</h4>
                            <div class="row" >
                                <img ng-if="batchesModel.batch.batchTeacherDetails.image.length" class="responsive img-center  img-circle col-md-4 col-xs-4 col-sm-4 col-lg-4" ng-src="/content/team/{{batchesModel.batch.batchTeacherDetails.image}}" alt="{{batchesModel.batch.batchTeacherDetails.name}}">
                                <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                            <strong>{{batchesModel.batch.batchTeacherDetails.name}}</strong>
                                    <p>  {{batchesModel.batch.batchTeacherDetails.mobile}}</p>
                               <p>     {{batchesModel.batch.batchTeacherDetails.email}} </p>
                                </div>

                            </div>
                            </div>
                            </div>
                </section>
                <section  class=" white-bg padding-top-bottom" ng-if="batchesModel.batch.batchStudentsList.length">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="section-title page-title">Batch Students List</h4>
                            <hr>
                            <div class="row" ng-repeat="student in batchesModel.batch.batchStudentsList" style="margin:10px; text-transform:capitalize">
                                <img class="img-responsive img-center  img-circle col-md-4 col-xs-4 col-sm-4 col-lg-4" ng-src="/content/student/{{student.user_image==''?'avatar.png':student.user_image}}" alt="{{student.name}}">
                                <a style="color:#2cacaa" href="#/mybatches/student_details/{{student.id}}" class="col-md-8 col-xs-8 col-sm-8 col-lg-8"><strong style="font-size:18px;">{{student.name}}</strong></a>

                            </div>  

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>