
<div class="modal-body">
    <h3>Delete Student</h3>
    <p>Deleting student will result in deletion of  all  the  data related to that student
    <p>Click on 'Ok' if you want to delete student else 'Cancel'</p>
    <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
