<form role="form " class=" form-horizontal form-validation" novalidate data-ng-submit="addStudent()" name="add_student" >
    <div class="form-group">
        <div class="col-sm-3">
            <label for=""> Name</label>
        </div>
        <div class="col-sm-9">
            <input  type="text"
                   class="form-control"
                   placeholder="Min length 2, Max length 100"
                   data-ng-model="studentModel.student.details.name"
                   required
                   data-ng-minlength="2"
                   data-ng-maxlength="100"
                   ng-disabled="studentModel.student.option=='view'">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for=""> User Name</label>
        </div>
        <div class="col-sm-9">
            <input  type="text"
                   class="form-control"
                   placeholder="Min length 2, Max length 100"
                   data-ng-model="studentModel.student.details.user_name"
                   required
                   data-ng-minlength="2"
                   data-ng-maxlength="100"
                   ng-disabled="studentModel.student.option=='edit'">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="">Parents</label>
        </div>
        <div class="col-sm-9">
            <span class="ui-select">
                <select required ng-model="studentModel.student.details.parent_id"
                        ng-options="parent.id as (parent.father_name+' & '+parent.mother_name) for parent in studentModel.parents">
                    <option value="" ng-selected>-- choose parent --</option>
                </select>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="">Batch</label>
        </div>
        <div class="col-sm-9">
            <span class="ui-select">
                <select required ng-model="studentModel.student.details.batch_id"
                        ng-options="batch.id as (batch.batch_code) for batch in studentModel.batches">
                    <option value="" ng-selected>-- choose batch --</option>
                </select>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="">School</label>
        </div>
        <div class="col-sm-9">
            <span class="ui-select">
                <select required ng-model="studentModel.student.details.school_id"
                        ng-options="school.id as school.name for school in studentModel.schools">
                    <option value="" ng-selected>-- choose school --</option>
                </select>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for=""> Class</label>
        </div>
        <div class="col-sm-9">
            <select class="form-control" id="std" name="std" ng-model="studentModel.student.details.class" placeholder="Class" required>
                <option value="Sr.KG">Sr.KG</option>
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
                <option value="5th">5th</option>
                <option value="6th">6th</option>
                <option value="7th">7th</option>
                <option value="8th">8th</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for=""> DOB</label>
        </div>
        <div class="col-sm-9">
            <input type="text" 
                   class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="studentModel.student.details.dob"

                   ng-required="true" 
                   >
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for=""> Joining Date</label>
        </div>
        <div class="col-sm-9">
            <input type="text" 
                   class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="studentModel.student.details.admit_date"

                   ng-required="true" 
                   >
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="">Address</label>
        </div>
        <div class="col-sm-9">
            <textarea data-ng-model="studentModel.student.details.address"
                      required
                      data-ng-minlength="2" class="form-control" rows="4"></textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-3">
            <label >Photo</label>
        </div>
        <div class="col-sm-9">
            <div class="thumbnail col-md-2"  ng-if="studentModel.student.id!='' && studentModel.student.details.user_image!=''" >
                <img ng-src='/content/student/{{studentModel.student.details.user_image}}' alt="{{studentModel.student.details.name}}">
                <center>
                    <button type="button" tooltip="Delete Team Member Image " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteStudentImage(studentModel.student.details.id)"><span class="glyphicon glyphicon-trash"></span></button>
                </center>
            </div>

            <input type="file" nv-file-select="" uploader="uploader"  ng-if="studentModel.student.id=='' || studentModel.student.details.user_image==''" />
        </div>
    </div>

    <div  style="margin-bottom: 40px" ng-if="studentModel.student.id=='' || studentModel.student.details.user_image==''">



        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>
                        <strong>{{ item.file.name }}</strong>

                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>

                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>


    <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmitStudentForm()">
        <span ng-if="studentModel.student.id">Update Student Details</span>
        <span ng-if="!studentModel.student.id">Add New Student</span>
    </button>


</form>   