<div class="page page-table"   data-ng-controller="StudentCtrl">
    <div class="row-fluid">
    <a href="#/students/add" class="btn btn-primary btn-lg" >
          Add New Student 
    </a>
    </div>
    
    <section class="panel panel-default table-dynamic" ng-init="getStudents()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>All Students</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStudents.length}}/{{ studentModel.all_students.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><div class="th">#
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span></div></th>
                    <th><div class="th">
                        Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                    <th><div class="th">
                        User Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('user_name') "
                              data-ng-class="{active: row == 'user_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-user_name') "
                              data-ng-class="{active: row == '-user_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Father Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('father_name') "
                              data-ng-class="{active: row == 'father_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-father_name') "
                              data-ng-class="{active: row == '-father_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Mother Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mother_name') "
                              data-ng-class="{active: row == 'mother_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mother_name') "
                              data-ng-class="{active: row == '-mother_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        School Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('school_name') "
                              data-ng-class="{active: row == 'school_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-school_name') "
                              data-ng-class="{active: row == '-school_name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Batch Caption
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('batch_caption') "
                              data-ng-class="{active: row == 'batch_caption'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-batch_caption') "
                              data-ng-class="{active: row == '-batch_caption'}"></span>
                        </div></th>
                    <th><div class="th">
                        Teacher Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('teacher_name') "
                              data-ng-class="{active: row == 'teacher_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-teacher_name') "
                              data-ng-class="{active: row == '-teacher_name'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="student in currentPageStudents">

                    <td ><a href="#/students/view/{{student.id}}" ng-bind="student.id" style="color:#2cacaa" ></a></td>
                    <td ><a href="#/students/view/{{student.id}}" ng-bind="student.name" style="color:#2cacaa" ></a></td>
                    <td ng-bind="student.user_name"></td>
                    <td ng-bind="student.father_name"></td>
                    <td ng-bind="student.mother_name"></td>
                    <td ng-bind="student.school_name"></td>
                    <td ng-bind="student.batch_caption"></td>
                    <td ng-bind="student.teacher_name"></td>

                    <td>
                        <a   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" href="#/students/edit/{{student.id}}"><i class="glyphicon glyphicon-pencil"></i></a>

                        <a  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteStudent(student.id)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStudents.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>


</div>