<div class="page page-table"   data-ng-controller="StudentCtrl">
    <section class="panel panel-default" ng-if="studentModel.student.option=='edit' || studentModel.student.option=='add'" >
    <div class="panel-heading">
        <strong ng-if="studentModel.student.option=='edit'">Update Student Details</strong>
        <strong ng-if="studentModel.student.option=='add'">Add New Student</strong>
        <strong ng-if="studentModel.student.option=='view'">Student Details</strong>
    </div>
    <div class="panel-body">
        <div ng-include="'/views/admin/student/edit.html'"></div>
    </div>
</section>
        <div ng-if="studentModel.student.option=='view'" ng-include="'/views/admin/student/view.html'"></div>
</div>
