<div class="row-fluid">
    <div class="col-md-offset-11 ">
        <a   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" href="#/students/edit/{{studentModel.student.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteStudent(studentModel.student.id)"><span class="glyphicon glyphicon-trash"></span></a>
    
    </div>
    
</div>
<div class=" row-fluid">
    <div class="col-md-4">
    <section  class=" white-bg padding-top-bottom">
        <div class="list-group">
            <div class="list-group-item" >
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/student/{{studentModel.student.details.user_image==''?'avatar.png':studentModel.student.details.user_image}}" alt="">
                    </div>

                    <div clas="col-md-7">
                        <h4 class="section-title page-title" style="text-transform: capitalize;">{{studentModel.student.details.name}}</h4>
                        <p><strong>Class: </strong>{{studentModel.student.details.class}}</p>
                        <p><strong>DOB: </strong>{{studentModel.student.details.dob | date:'dd MMM yy'}}</p>
                        <p><strong>Joinging Date: </strong>{{studentModel.student.details.admit_date | date:'dd MMM yy'}}</p>
                    </div>
                </div>
            <p><strong>Address: </strong>{{studentModel.student.details.address}}</p>
            </div>

        </div>
    </section>
        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="section-title page-title">School Details</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/schools/{{studentModel.student.school.logo}}" alt="">
                        </div>

                        <div clas="col-md-8">
                            <h4 class="section-title page-title" style="text-transform: capitalize;">{{studentModel.student.school.name}}</h4>
                            {{studentModel.student.school.address}}
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item" >
                        <h4 class="section-title page-title">Parent Details</h4>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                        
<!--                            <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/parent/{{studentModel.student.parent.image}}" alt="">-->
                        </div>
                        <div class="col-md-3">
                        </div>

                        
                        </div>
                            <div class="row-fluid">
                        <h4 class="section-title page-title">Father Details</h4>
                                <div class="col-md-5">
                                    <strong>Name: </strong><br/>
                                    <strong>Job: </strong><br/>
                                    <strong>Email: </strong><br/>
                                    <strong>Contact: </strong><br/>
                                </div>
                                <div clas="col-md-5">
                                    {{studentModel.student.parent.father_name}}<br/>
                                    {{studentModel.student.parent.father_job}}<br/>
                                    {{studentModel.student.parent.father_email}}<br/>
                                    {{studentModel.student.parent.father_mobile}}<br/>
                                </div>
                                </div>
                            <div class="row-fluid">
                        <h4 class="section-title page-title">Mother Details</h4>
                                <div class="col-md-5">
                                    <strong>Name: </strong><br/>
                                    <strong>Job: </strong><br/>
                                    <strong>Email: </strong><br/>
                                    <strong>Contact: </strong><br/>
                                </div>
                                <div clas="col-md-5">
                                    
                                    {{studentModel.student.parent.mother_name}}<br/>
                                    {{studentModel.student.parent.mother_job}}<br/>
                                    {{studentModel.student.parent.mother_email}}<br/>
                                    {{studentModel.student.parent.mother_mobile}}<br/>
                                </div>
                            </div>
                        </div>
                    </div>

        </section>
    </div>
    <div class="col-md-4">
        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="section-title page-title">Batch Details</h4>
                    <p>
                        <strong><h4>{{studentModel.student.batch.batch_code}} | {{studentModel.student.batch.caption}} </h4></strong>
                    </p>
                    <p>
                        Start Date <strong>{{studentModel.student.batch.start_date}}</strong>
                    </p>
                    <p>
                        End Date <strong>{{studentModel.student.batch.end_date}}</strong>
                    </p>
                </div>
            </div>
        </section>

        
        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="section-title page-title">Contact Teacher</h4>
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/team/{{studentModel.student.teacher.image}}" alt="">
                        </div>

                        <div clas="col-md-7">
                            <h4 class="section-title page-title" style="text-transform: capitalize;">{{studentModel.student.teacher.name}}</h4>
                        </div>
                    </div>

                    <div>
                        {{studentModel.student.teacher.mobile}}
                        <div>
                            {{studentModel.student.teacher.email}} 
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </div>
</div>