<div class="page page-table" data-ng-controller="DownloadCtrl" ng-init="getDownloadCategories()">

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Files</strong>
        </div>
        <div class="panel-body">
            <form role="form " class=" form-horizontal form-validation" data-ng-submit="addDownloadFile()" name="add_file">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">File Caption</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 30"
                               data-ng-model="file.file_caption"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">File Category</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select required ng-model="file.download_categories_id"
                                    ng-options="category.id as category.name for category in downloadModel.downloadCategory">
                                <option value="" ng-selected>-- choose category --</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <label for=""> File </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="file" nv-file-select="" uploader="uploader" ng-if="file.id==''"/>
                    </div>
                </div>
                <div  style="margin-bottom: 40px" ng-if="file.id==''">



                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>

                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmitFiles()">
                    <spna ng-if="file.id==''">  Add File</spna>   <spna ng-if="file.id!=''">  Update File</spna>  
                </button>


            </form>   
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-init="getDownloadFiles()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Download Files</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredFiles.length}}/{{ downloadModel.downloadFiles.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">#</div></th>
                    <th><div class="th">
                        File Caption
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('file_caption') "
                              data-ng-class="{active: row == 'file_caption'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-file_caption') "
                              data-ng-class="{active: row == '-file_caption'}"></span>
                        </div></th>
                    <th><div class="th">
                        Category
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('download_category.name') "
                              data-ng-class="{active: row == 'download_category.name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-download_category.name') "
                              data-ng-class="{active: row == '-download_category.name'}"></span>
                        </div></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="file in currentPageFiles">
                    <td ng-bind="file.id"></td>
                    <td ng-bind="file.file_caption"></td>
                    <td ng-bind="file.download_category.name"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editFile(file)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button  ng-disabled="file.status=='active'" tooltip="  Active" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-primary" role="button" ng-click="toggleDownloadFileStatus(file.id)"><i class="glyphicon glyphicon-ok"></i></button>
                        <button  ng-disabled="file.status=='inactive'" tooltip=" Inactive" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-warning" role="button" ng-click="toggleDownloadFileStatus(file.id)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteDownloadFile(file.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredFiles.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>