<div class="page page-table" data-ng-controller="DownloadCtrl" >

    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Add New Category</strong>
        </div>
        <div class="panel-body">
            <form role="form" class=" form-validation" data-ng-submit="addDownloadCategory()" name="add_category">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Category Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                               class="form-control"
                               placeholder="Min length 2, Max length 30"
                               data-ng-model="category.name"
                               required
                               data-ng-minlength="2"
                               data-ng-maxlength="30">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="!canSubmit()">
                    <span ng-if="category.id==''">Add Category</span>
                    <span ng-if="category.id!=''">Update Category</span>
                </button>
                
                
            </form>   
        </div>
    </section>
    <section class="panel panel-default table-dynamic" ng-init="getDownloadCategories()">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Download Categories</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredCategories.length}}/{{ downloadModel.downloadCategory.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">#</div></th>
                    <th><div class="th">
                        Category Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                    <th><div class="th">
                        Created At
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('created_at') "
                              data-ng-class="{active: row == 'created_at'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-created_at') "
                              data-ng-class="{active: row == '-created_at'}"></span>
                        </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="category in currentPageStores">
                    <td ng-bind="category.id"></td>
                    <td ng-bind="category.name"></td>
                    <td ng-bind="category.created_at"></td>
                    <td>
                        <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editCategory(category)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteDownloadCategory(category.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredCategories.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>