<div class="page-forgot" data-ng-controller="forgotCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="info text-center">
        <h2>Password Reset</h2>
        <p class="text-small">Enter your username. We'll send you an email with your new password on your email id.</p>
    </div>

    <div class="form-container">

        <form class="form-horizontal" name="forgotPasswordForm" data-ng-submit="sendNewPassword()">
            <div class="form-group">
                <input type="text" ng-model="forgotModel.user_name"
                       class="form-control input-lg"
                       placeholder="UserName" required>
            </div>
            <div  style="padding:0 0 0 35px; color:red;">
                {{ErrorMessage}}
            </div>
            <div  style="padding:0 0 0 35px; " class="text-success">
                {{SuccessMsg}}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block btn-primary" >Send</button>
            </div>
        </form>
        
    </div>
</div>