<div class="page page-lock">

    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!-- <div ui-time class="lock-time"></div> -->
            
            <section class="lock-box">
                <div class="lock-user">{{user.name}}</div>
                <div class="lock-img"><img src="/content/team/{{user.image}}" alt=""></div>
                <div class="lock-pwd">
                    <form>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                            <a href="#/" class="btn-submit">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </div>            
            </section>
        </div>
    </div>
</div>