
<div class="modal-body">
    <h3>Add Learning Star</h3>
    <p>Do you want to add learning star for this student.
    <p>Click on 'Ok' if you want to add learning star  else 'Cancel'</p>
    <button  class="btn btn-primary"  data-ng-click="ok()">Ok</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
