<div class="page page-table"   data-ng-controller="MyBatchesCtrl" ng-init="getStudentDetails()">


    <a class="btn btn-dark container-fluid" href="#/mybatches/view/{{myBatchesModel.student_details.details.batch_id}}" ><span class="glyphicon glyphicon-arrow-left"></span>Back to Batch</a>
    <div class="row-fluid" ng-if="myBatchesModel.student_id!=0">

        <div class="col-md-4">
            <section  class=" white-bg padding-top-bottom">
                <div class="list-group">
                    <div class="list-group-item" >
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
                                <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/student/{{myBatchesModel.student_details.details.user_image==''?'avatar.png':myBatchesModel.student_details.details.user_image}}" alt="">
                            </div>

                            <div clas="col-md-7 col-sm-7 col-xs-7 col-lg-7">
                                <h4 class="section-title page-title" style="text-transform: capitalize;">{{myBatchesModel.student_details.details.name}}</h4>
                                <p><strong>Class: </strong>{{myBatchesModel.student_details.details.class}}</p>
                                <p><strong>DOB: </strong>{{myBatchesModel.student_details.details.dob | date:'dd MMM yy'}}</p>
                                <p><strong>Joinging Date: </strong>{{myBatchesModel.student_details.details.admit_date | date:'dd MMM yy'}}</p>
                            </div>
                        </div>
                        <p><strong>Address: </strong>{{myBatchesModel.student_details.details.address}}</p>
                    </div>

                </div>
            </section>
            <section  class=" white-bg padding-top-bottom">
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="section-title page-title">Stars</h4>
                        <div align="justify">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2  text-center">STARS</div>
                                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5  text-center">LATEST RATING</div>
                                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5  text-center">CUMMULATIVE RATING</div>
                            </div>



                            <div class="row" ng-repeat="star in myBatchesModel.student_details.stars" style="border-bottom : 1px solid #f6f6f6; padding-top:10px;">
                                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text-center">
                                    <img class="img-responsive img-center img-thumbnail" ng-src="/content/stars/{{star.star.image}}" alt="{{star.star.caption}}">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center" style="font-size : 24px;">
                                    {{star.ratings.latest_student_rating>0?star.ratings.latest_student_rating:0 | number:2}}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center" style="font-size : 24px;">
                                    {{star.ratings.cumulative_student_rating>0?star.ratings.cumulative_student_rating:0 | number:2}}                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                                    <button  ng-click="addRating(star.star.id)" class="btn-icon btn-icon-sm btn-primary "  tooltip-placement="right" tooltip="Add Star for {{star.star.caption}} " tooltip-append-to-body="true"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section  class=" white-bg padding-top-bottom">
                <div class="list-group">
                    <div class="list-group-item" >
                        <h4 class="section-title page-title">Parent Details</h4>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">

<!--                                <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/parent/{{myBatchesModel.student_details.parent_details.image}}" alt="">-->
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                            </div>


                        </div>
                        <div class="row">
                        
                        <div class="col-md-12 col-xs-6 col-sm-6 col-lg-12">
                            <h4 class="section-title page-title">Father Details</h4>
                            <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
                                <strong>Name: </strong><br/>
                                <strong>Job: </strong><br/>
                                <strong>Email: </strong><br/>
                                <strong>Contact: </strong><br/>
                            </div>
                            <div clas="col-md-5 col-sm-5 col-xs-5 col-lg-5">
                                {{myBatchesModel.student_details.parent_details.father_name}}<br/>
                                {{myBatchesModel.student_details.parent_details.father_job}}<br/>
                                {{myBatchesModel.student_details.parent_details.father_email}}<br/>
                                {{myBatchesModel.student_details.parent_details.father_mobile}}<br/>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-6 col-sm-6 col-lg-12">
                            <h4 class="section-title page-title">Mother Details</h4>
                            <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
                                <strong>Name: </strong><br/>
                                <strong>Job: </strong><br/>
                                <strong>Email: </strong><br/>
                                <strong>Contact: </strong><br/>
                            </div>
                            <div clas="col-md-5 col-sm-5 col-xs-5 col-lg-5">

                                {{myBatchesModel.student_details.parent_details.mother_name}}<br/>
                                {{myBatchesModel.student_details.parent_details.mother_job}}<br/>
                                {{myBatchesModel.student_details.parent_details.mother_email}}<br/>
                                {{myBatchesModel.student_details.parent_details.mother_mobile}}<br/>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>

            </section>
        </div>
        <div class="col-md-4">


            <section id="team" class=" white-bg padding-top-bottom list-group-item">

                <h3 class="section-title page-title">Homework</h3>

                <div ng-repeat="homework in myBatchesModel.student_details.homework track by $index">
                    <div class="row">
                        <div class="col-md-6">
                            {{homework.homework.homework}}
                        </div>
                        <div class="col-md-6">
                            <div ng-if="homework.status!='incomplete'" >

                                <a  class="btn btn-primary" target="_blank" ng-href="/content/student_homework/{{homework.file_name}}" tooltip-placement="top" tooltip="Download" tooltip-append-to-body="true"><span class="glyphicon glyphicon-download"></span></a>

                                <button class="btn btn-info"  data-ng-if="homework.status!='complete'" data-ng-click="markHomeworkComplete(homework)" tooltip-placement="top" tooltip="Completed" tooltip-append-to-body="true"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-warning"  data-ng-if="homework.status!='complete'" data-ng-click="markHomeworkIncomplete(homework)" tooltip-placement="top" tooltip="Not Completed" tooltip-append-to-body="true"><span class="glyphicon glyphicon-ban-circle"></span></button>
                            </div> 
                            <span style="text-transform:capitalize" ng-if="homework.status!='incomplete' || homework.status!='complete'">{{homework.status}}</span>
                        </div> 
                    </div>
                    <hr>
                </div>

            </section>

        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <section  class=" white-bg padding-top-bottom">
                <div class="list-group">

                    <div class="list-group-item" >
                        <h4 class="section-title page-title" style="text-transform: capitalize;">Student Learnings</h4>
                        <hr/>
                    
                        

                                 <div ng-repeat=" mainTask in myBatchesModel.student_details.taskList" style="margin:30px 5px 35px 5px; color: #323232; font-size:22px;">

                <span data-ng-if="!mainTask.is_completed" style="margin-right: 20px;" class="glyphicon glyphicon-unchecked"></span>
                <span data-ng-if="mainTask.is_completed" style="margin-right: 20px; color:green;" class="glyphicon glyphicon-check"></span>
                <span>
                    {{mainTask.caption}}
                </span>

                    <div  ng-repeat=" subTask in mainTask.sub_task" style="margin: 10px 10px -8px 2px;; color: #4c4c4c; font-size:16px;" >

                        <div class="row" ng-click="feedbackView(subTask.id)" style="margin: 1px; background-color: #e5e5e5; padding: 13px 5px;; cursor:pointer;">

                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-th-list" style="font-size:14px; cursor:pointer;"></span>
                            </div>
                            <div class="col-md-9">

                                 <span>
                                    {{subTask.caption}} <span class="badge badge-success" ng-if="subTask.student_tasks.length">{{subTask.student_tasks.length}}</span><span class="badge badge-warning" ng-if="getReviewSubtaskCount(subTask)">{{ getReviewSubtaskCount(subTask)}}</span>
                                 </span>

                            </div>

                             <div class="col-md-2">

                                 <span data-ng-if="subTask.is_completed" class="label label-success">Completed</span>
                            </div>
                        </div>
                         <div class="row" ng-if="subTask.student_tasks"
                         ng-show="subTask.id == currentFeedbackId"
                         style=" width:100%; padding: 20px; background-color:#f6f6f6; margin:0 0 10px 0;">
                                    <h4>
                                    Real life use
                                    </h4>
                                    <div  class="row"
                                    ng-repeat="studentTask in subTask.student_tasks track by $index"
                                    style="border-top: 1px solid #f6f6f6; padding: 10px; background-color:white;">
                                <div class="col-md-1">
                                        {{$index + 1}})
                                    </div>
                                        <div class="col-md-2" ng-if="studentTask.status!='complete'">
                                            <button class="btn btn-info"   data-ng-click="markTaskCompleted(studentTask)" tooltip-placement="top" tooltip="Completed" tooltip-append-to-body="true"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-warning"   data-ng-click="markTaskIncomplete(studentTask)" tooltip-placement="top" tooltip="Not Completed" tooltip-append-to-body="true"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                        </div>
                                         <div class="col-md-2" ng-if="studentTask.status=='complete'">
                                            Completed
                                        </div>
                                        <div class="col-md-5">
                                            {{studentTask.comment}}
                                        </div>
                                        <div class="col-md-2">
                                            {{studentTask.used_at}}
                                        </div>
                                        <div class="col-md-2">
                                            {{taskDate(studentTask.created_at) |  date:'MM/dd/yyyy @ h:mma'}}
                                        </div>

                                    </div>
                                    
                         </div>

                    </div>

             </div>
                    </div>

                </div>
            </section>
        </div>
        </div>
    </div>

