<div class="page page-table" ng-controller="MyBatchesCtrl">
    <div ng-init="getBatchDetails()">
        <div class=" row-fluid">
            <div class="col-md-6">
                <section  class=" white-bg padding-top-bottom">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="section-title page-title">Batch Info</h3>
                            <hr>
                            <h4 class="section-title page-title">

                                <div class="row">

                                    <div class="col-md-7">
                                        <h4> Level {{myBatchesModel.batch.batchInfo.level_id}} | {{myBatchesModel.batch.batchInfo.batch_code}} | {{myBatchesModel.batch.batchInfo.caption}}</h4>
                                    </div>
                                    <div class="col-md-5">
                                        <h5> {{myBatchesModel.batch.batchInfo.start_date}} - {{myBatchesModel.batch.batchInfo.end_date}}</h5>
                                    </div>
                                </div>

                            </h4>
                            <hr>
                            <div class="row" ng-repeat="day in myBatchesModel.batch.batchSchedule" style="margin:10px; text-transform:capitalize">
                                <div class="col-md-3">
                                    <strong style="font-size:18px;">{{day.day}}</strong>
                                </div>
                                <div class="col-md-5" style="font-size:16px;"> 
                                    {{day.location}}
                                </div>
                                <div class="col-md-4">
                                    {{day.start_time}} - {{day.end_time}}
                                </div>

                            </div>  

                        </div>
                    </div>
                </section>

                <section id="team" class=" white-bg padding-top-bottom ">

                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="section-title page-title">Homework</h3>
                            <hr>
                            <div class="row" ng-repeat="homework in myBatchesModel.batch.batchHomeworksList track by $index" style="margin:10px; ">
                                 {{homework.homework}}
                                <div class="pull-right">
                                    <button   tooltip="Edit" tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-success" role="button" ng-click="editHomework(homework)"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button  tooltip="Delete " tooltip-append-to-body="true" class=" btn-icon btn-icon-sm btn-danger" role="button" ng-click="deleteHomework(homework)"><span class="glyphicon glyphicon-trash"></span></button>
<hr>
                                </div>
                            </div>
                            
                            <form role="form " class=" form-horizontal form-validation" novalidate ng-submit="addHomework()" name="add_homework">
                                <span class="text-danger"><strong>Note:</strong> Homework Minimum length is 10 characters</span>
                                <textarea ng-model="myBatchesModel.homework.homework" class="form-control" rows="4"></textarea>
                                <button type="submit" ng-disabled="!canSubmitHomework()" class="form-control btn btn-primary">Add New Homework</button>
                            </form>
                        </div>
                    </div>

                </section>
                
                <section id="courseProgress" class="white-bg padding-top-bottom list-group-item">

                    <h3 class="section-title page-title">Course Progress</h3>

                    <div ng-repeat=" mainTask in myBatchesModel.batch.batchTaskStatus" style="margin:30px 5px 35px 5px; color: #323232; font-size:22px;">

                        <span data-ng-if="!mainTask.is_completed" style="margin-right: 20px;" class="glyphicon glyphicon-unchecked"></span>
                        <span data-ng-if="mainTask.is_completed" style="margin-right: 20px; color:green;" class="glyphicon glyphicon-check"></span>
                        <span>
                            {{mainTask.caption}}
                        </span>
                        <hr>
                        <div ng-repeat=" subTask in mainTask.sub_task" style="margin: 10px 10px 10px 2px;; color: #4c4c4c; font-size:16px;">  

                            <span data-ng-if="!subTask.is_completed" style="margin-right: 20px;cursor:pointer" class="glyphicon glyphicon-unchecked" ng-click="toggleStatus(subTask)"></span>
                            <span data-ng-if="subTask.is_completed" style="margin-right: 20px; cursor:pointer;color:green;" class="glyphicon glyphicon-check" ng-click="toggleStatus(subTask)"></span>
                            {{subTask.caption}}

                        </div>

                    </div>



                </section>


            </div>
            <div class="col-md-6" ng-if="myBatchesModel.batch.batchStudentsList.length">
                <section  class=" white-bg padding-top-bottom">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="section-title page-title">Batch Students List</h4>
                            <hr>
                            <div class="row" ng-repeat="student in myBatchesModel.batch.batchStudentsList track by $index" style="margin:10px; text-transform:capitalize">
                                <img class="img-responsive img-center  img-circle col-md-4 col-xs-4 col-sm-4 col-lg-4" ng-src="/content/student/{{student.user_image==''?'avatar.png':student.user_image}}" alt="{{student.name}}">
                                <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                                    <a style="color:#2cacaa" href="#/mybatches/student_details/{{student.id}}" ><strong style="font-size:18px;">{{student.name}}</strong>    <span class="badge badge-danger" ng-if="student.reviewingHomeworkCount">{{student.reviewingHomeworkCount}}</span></a>
                                    <strong class="row "  data-ng-if="$index==0">
                                        <span class="col-sm-4 ">Caption</span>
                                        <span class="col-sm-4">Last Class Earning</span>
                                        <span class="col-sm-4">Cumulative Earning</span>
                                    </strong>
                                    <div class="row"  ng-repeat="star in student.stars">
                                            <span class="col-sm-4">{{star.star.caption}}</span>
                                            <span class="col-sm-4">{{star.ratings.latest_student_rating>0?star.ratings.latest_student_rating:0 | number:2}}</span>
                                            <span class="col-sm-4">{{star.ratings.cumulative_student_rating>0?star.ratings.cumulative_student_rating:0 | number:2}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>