<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
<div class="container-fluid" style="padding:2%;">

    <div class="col-md-12 " style="padding-left:0px;">
        <section id="mission" class=" white-bg padding-top-bottom list-group-item text-center">
            <h2 class="section-title text-center page-title">Our Mission / Vision</h2>
            <strong class="section-description text-center" style="font-size:20px;color:grey;line-height:35px;padding:2%">To make children competent and confident to face the world by developing </strong>	
            <img class="img-responsive img-center center-block " ng-src="/content/ourmissionvision.jpg" alt="">

        </section> 
        <br/>
        
        <section id="team" class=" white-bg padding-top-bottom list-group-item">
            <h2 class="section-title text-center page-title">Meet our team</h2>
            <p class="section-description text-center">We are a small team with great skills.  </p>	

            <div class="row member-content" ng-repeat="team in AboutModel.team track by $index" ng-class="{right:($index%2)}">
                <div class="col-sm-2  col-xs-2  col-md-2  col-lg-2  member-thumb  fade-right in" ng-class="{'col-sm-push-9 col-md-push-9 col-lg-push-9 col-xs-push-9':($index%2),'col-sm-offset-1 col-md-offset-1 col-xs-offset-1 col-lg-offset-1 ':!($index%2)}">
                    <img class="img-responsive img-center img-thumbnail img-circle" ng-if="team.image!=''" ng-src="/content/team/{{team.image}}" alt="{{team.name}}">
                    <img class="img-responsive img-center img-thumbnail img-circle" ng-if="team.image==''" ng-src='/content/team/avatar.png' alt="{{team.name}}">
                    <h4 ng-bind="team.name"></h4>
                    <p class="title" ng-bind="team.post"></p>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8 " ng-class="{'col-sm-pull-1 col-lg-pull-1 col-xs-pull-1 col-md-pull-1':($index%2)}">
                    <div class="details">
                        <p ng-bind="team.description"></p>
                        <ul class="social-content">
                            <li><a href="mailto:{{team.email}}"><i class="fa fa-envelope fa-fw"></i></a></li>
                            <li ng-if="team.linkedin.length"><a target="_blank" href="{{team.linkedin}}"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>



        </section>

    </div>
</div>
