<form class="form-horizontal" ng-controller="makingChampsMyAccountCtrl"> 
    <div class="form-group">
        
        <div class="col-md-12">
            <textarea class="form-control" id="newTestimonial" ng-model="newTestimonial" placeholder="We love to hear from you" rows="10"></textarea>
        </div>

        <div class="col-md-12" style="margin:10px 0 0 0;s">
            <button class="btn btn-primary pull-right" ng-click="addNewTestimonial()">Submit</button>
        </div>
    </div>
</form>