<div class="container-fluid" style="padding:2%;text-align:justify">
    <div class="row">
     <div class="col-md-6" style="font-size:15px">
        <h3> ONGOING</h3>    
        <section  class=" white-bg padding-top-bottom" ng-repeat = "batch in batches.ongoing">
            <div class="list-group">
                <div class="list-group-item">
                        <h4 class="section-title page-title">
                            
                            <div class="row">
    
                                <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7 pull-left">
                                    <h4> Level {{batch.level_id}} | {{batch.caption}}</h4>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 pull-right">
                                    <h5> {{batch.start_date | date:'dd MMM yyyy' }} - {{batch.end_date | date:'dd MMM yyyy'}}</h5>
                                </div>
                            </div>

                        </h4>
                        <hr>

                        <div class="row" ng-if="$first" style="text-transform:capitalize; color:silver; font-size: 14px; font-weight:bold" >
                            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 pull-left">
                                    <center>Day</center>
                                </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center"> 
                                    <center>Venue</center>                    
                               </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 pull-right">
                                     <center>Time</center>
                                </div>
                                
                        </div>      

                        <div class="row" ng-repeat="day in batch.days" style=" text-transform:capitalize">
                            <strong class="col-md-3 col-sm-3 col-xs-3 col-lg-3 pull-left" >
                                {{day.day  }}</strong>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center" > 
                                     {{day.location}}
                                </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 pull-right" >
                                    {{day.start_time | timeStringToShorTime}} - {{day.end_time | timeStringToShorTime}}
                                </div>
                                
                        </div>           
                </div>
            </div>
        </section>

    </div>

        <div class="col-md-6" style="">
        <h3> UPCOMING</h3>    
        <section  class=" white-bg padding-top-bottom" ng-repeat = "batch in batches.upcoming">
            <div class="list-group">
                <div class="list-group-item">
                        <h4 class="section-title page-title">
                            
                            <div class="row">
    
                                <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7 pull-left">
                                    <h4> Level {{batch.level_id}} | {{batch.caption}}</h4>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 pull-right">
                                    <h5> {{batch.start_date | date:'dd MMM yyyy'}} - {{batch.end_date | date:'dd MMM yyyy'}}</h5>
                                </div>
                            </div>

                        </h4>
                        <hr>

                    <div class="row" ng-if="$first" style=" text-transform:capitalize; color:silver; font-size: 14px; font-weight:bold" >
                        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 pull-left">
                            <center>Day</center>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center"> 
                            <center>Venue</center>                    
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 pull-right">
                            <center>Time</center>
                        </div>

                    </div>      

                    <div class="row" ng-repeat="day in batch.days" style="text-transform:capitalize">
                        <strong class="col-md-3 col-sm-3 col-xs-3 col-lg-3 pull-left" >
                            {{day.day  }}</strong>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center" > 
                            {{day.location}}
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 pull-right" >
                            {{day.start_time | timeStringToShorTime}} - {{day.end_time | timeStringToShorTime}}
                        </div>

                    </div>              
                </div>
            </div>
        </section>

    </div>
   </div>
    <div class="row-fluid">
    <section  class=" white-bg padding-top-bottom list-group-item">
            
        <h1 class="section-title text-center page-title">Schools our students belong to</h1>
            <div class="row" isotope-container  data-images-loaded>
                <div class=" col-xs-5 col-sm-5 col-md-3 col-lg-3" isotope-item ng-repeat="school in schools" repeat-done="layoutDone()"  data-images-loaded>
                    <div class=""  data-images-loaded>
                        <img class="img-responsive" ng-src="/content/schools/{{school.logo}}" alt="{{school.name}}">
                        <div class="caption">
                            <h4> {{school.name}}</h4>
                            <p> {{school.address}}</p>
                            
                        </div>
                    </div>
                    </div>
                </div>
        </section>
    </div>

</div>