
<form class="form-horizontal" ng-controller="makingChampsMyAccountCtrl" style="margin: 20px;"> 
    <div class="form-group">
        
        <div class="col-md-12" style="margin:10px;">
            <input type="password" class="form-control" id="oldPassword" ng-model="oldPassword" placeholder="Old Password"/>
        </div>

         <div class="col-md-12" style="margin:10px;">
            <input type="password" class="form-control" id="newPassword" ng-model="newPassword" placeholder="New Password"/>
        </div>

         <div class="col-md-12" style="margin:10px;">
            <input type="password" class="form-control" id="newPasswordRepeated" ng-model="newPasswordRepeated" placeholder="Confirm New Password"/>
        </div>

        <div data-ng-if="changePasswordError" style="padding:0 0 0 35px; color:red;">
        	{{changePasswordErrorMessage}}
        </div>

        <div class="col-md-12" style="margin:10px 0 0 0;">
            <button class="btn btn-primary pull-right" ng-click="saveNewPassword()">Submit</button>
        </div>
    </div>
</form>
