<div class="container-fluid" style="padding:2%">

  
        <div class=" well" style="background:white">	
            <div class="row">
                <h5 class="col-md-12">Contact Information</h5>
                <div class="col-md-6">
                   <div style="font-size:18px;">
                       <i class="glyphicon glyphicon-phone"></i> Mili Pahade  &nbsp +91 98701 16557   
                   </div>
                   <div style="font-size:18px;">
                       <i class="glyphicon glyphicon-phone"></i>   Prasanna Pahade  &nbsp +91 98702 95945 
                   </div>
                    
                </div>
                <div class="col-md-6">
                    <div style="font-size:22px;">
                        <a href="mailto:info@makingchamps.co.in"><i class="glyphicon glyphicon-envelope"></i>info@makingchamps.co.in</a>

                    </div>
                </div>
            </div>
        </div>
        <div class=" well" style="font-family:Arial !important;">
                <div style="margin:30px;">	
                Office and Learning Centre : <br/>
                Shop No. 11, Ramchandra Niwas, <br/>Plot No. 21/22, Sector 12 A, <br/>Koparkhairane, Navi Mumbai 400709
                </div>
                <div class="map push50">
                    <iframe scrolling="no" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=RAMCHANDRA+NIVAS+CHD+LTD.,+Bonkode+Village+Marg,+Kopar+Khairane,+Navi+Mumbai,+Maharashtra,+India&amp;aq=0&amp;oq=RAMCHANDRA+NIVAS+CHD+LTD&amp;sll=3.864255,-61.875&amp;sspn=139.098549,346.289063&amp;ie=UTF8&amp;hq=RAMCHANDRA+NIVAS+CHD+LTD.,&amp;hnear=Bonkode+Village+Marg,+Kopar+Khairane,+Navi+Mumbai,+Thane,+Maharashtra,+India&amp;ll=19.095352,73.007148&amp;spn=0.002834,0.005284&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=15214876368762381413&amp;output=embed" marginwidth="0" marginheight="0" style="width:100%; height:300px; border: 0px"></iframe>
                </div>
        </div>
</div>