<div class="conatiner-fluid" style="padding:2%">
    <div class="row-fluid">
        <p>       
            <strong>Disclaimer :</strong> 
            We have taken due care to ensure the accuracy of the information on this website. However, M/s. Making CHAMPS and its representatives do not accept any legal liabilities whatsoever for inadvertent inaccuracies, or for any loss incurred by any party whatsoever.
        </p>
        <p>
            <strong>Privacy Statement :</strong>
            If you choose to provide us with your personal information on the web arising out of intended or existing relationship with Making CHAMPS, we may transfer that information within M/s. Making CHAMPS or to its authorised representatives. We intend to take reasonable and appropriate steps to protect the personal information that you share with us from unauthorised access or disclosure. However, no legal liabilities are implied or accepted in respect of the same.
        </p>
        <p>       
            <strong>Cookies and other tracking technologies :</strong>
            Our web-pages may use 'cookies' and other tracking technologies. A cookie is a small piece of information placed on your computer hard drive that may be used to collect information about website activity. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them. Tracking technologies may record information such as internet domain and host names, internet protocol (IP) addresses, browser software and operating system types, click-stream patterns, and dates and times that our site is accessed. Our use of cookies and other tracking technologies allows us to improve the responsiveness of our website.
        </p>     
        <p>
            <strong>Choice :</strong>
            Arising out of your interest in Making CHAMPS, we would have to inform you about the developments at our end and other important events. This can be over email, SMS or phone calls. You may opt out of any email list or information provision by sending an email to info@makingchamps.co.in  
        </p>
        <p>        
            <strong>Access/Accuracy :</strong>
            If you wish to review access or modify any information you provided to M/s. Making CHAMPS, send an email to <b>info@makingchamps.co.in </b></p>
        <p><strong>Children's Privacy:</strong>
            Making CHAMPS program is for children. Therefore this website may attract children. Accordingly, information from children under 13 years of age may be collected. We are committed to ensuring that the individual privacy of each child is protected. However, no legal liability in respect of the same is implied or accepted.
        </p>
        <p><strong>Your Consent :</strong>

            By using this website, you consent to the terms of our online privacy policy and to M/s. Making CHAMPS for processing of personal information for the purposes given above. Should the online privacy policy change, we will give notice of such changes on the website. Continued use of the site following posting of changes means that you accept these changes.
            Terms of use
            <strong>You must use this website in a responsible manner and must not:</strong>
        <ol>           
            <li>Use this website for any activities which breach any laws or regulations, infringe a third party's rights, or are contrary to any relevant standards or codes.</li>
            <li>Use this website in a way which interferes with other users or defames, harasses, threatens, menaces, offends or restricts any person or which inhibits any other user from using or enjoying this website.</li>
            <li>Post, or transmit via this website, any obscene, indecent, inflammatory, defamatory or pornographic material or material    that could give rise to civil or criminal proceedings.</li>
            <li>Tamper with, hinder the operation of or make unauthorised modifications to this website.</li>
            <li>Knowingly transmit any virus or other disabling feature to this website.</li>
            <li>Attempt any of the above acts or allow another person to do any of the above acts.</li>
            <li>Violate the intellectual property rights by engaging in copyiling of copy righted mater.</li>
        </ol> 
        </p>
    <p>
        <strong>Copyrights © 2013 M/s. Making CHAMPS/.  All rights reserved. </strong>
    </p>

</div>
</div>