
<div class="container-fluid" style="padding:0px;padding-top:2%">

            <div class="btn-group" opt-kind=""  ok-key="filter"  >
                <button type='button' class='btn btn-default active' ok-sel="*">Show All</button>
                <button type='button' class='btn btn-default' ng-repeat="cat in DownloadModel.categories" ok-sel=".{{cat.id}}">{{cat.name}}</button>


            </div>

    <ul isotope-container="isotope-container" style="margin:1% 0%">
        <div ng-repeat="cat in DownloadModel.categories" class="row-fluid">
            <div isotope-item="isotope-item"  class="col-md-2 well  well-sm {{cat.id}}" style="margin-right:5px;height:60px" ng-repeat="file in cat.downloadFiles " ng-if="file.access=='all'">
               <a href="/content/downloads/{{file.file_name}}" target="_blank" >
                    {{file.file_caption}}
                </a>
            
            </div>

        </div>
    </ul>
</div>

