<form class="form-horizontal"  id="enquiry_form" name="enquiry_form" ng-submit="submitEnquiry()" novalidate ng-controller="makingChampsMainCtrl">
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.student_name.$invalid && !enquiry_form.student_name.$pristine, 'has-success' : enquiry_form.student_name.$valid && enquiry_form.student_name.$dirty}">
        <label for="student_name" class="col-sm-3 control-label">Student Name*</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="student_name" id="student_name" ng-model="enquiry.student_name" placeholder="Student Name" required >
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.school_name.$invalid && !enquiry_form.school_name.$pristine, 'has-success' : enquiry_form.school_name.$valid && enquiry_form.school_name.$dirty}">
        <label for="school_name" class="col-sm-3 control-label">School*</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="school_name" name="school_name"  ng-model="enquiry.school_name" placeholder="School" required>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.std.$invalid && !enquiry_form.std.$pristine, 'has-success' : enquiry_form.std.$valid && enquiry_form.std.$dirty}">
        <label for="std" class="col-sm-3 control-label">Class*</label>
        <div class="col-sm-9">
            <select class="form-control" id="std" name="std" ng-model="enquiry.std" placeholder="Class" required>
              <option>Sr.KG</option>
              <option>1st</option>
              <option>2nd</option>
              <option>3rd</option>
              <option>4th</option>
              <option>5th</option>
              <option>6th</option>
              <option>7th</option>
              <option>8th</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.parent_name.$invalid && !enquiry_form.parent_name.$pristine, 'has-success' : enquiry_form.parent_name.$valid && enquiry_form.parent_name.$dirty}">
        <label for="parent_name" class="col-sm-3 control-label">Parent Name*</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="parent_name" name="parent_name" ng-model="enquiry.parent_name" placeholder="Parent Name" required>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.contact.$invalid && !enquiry_form.contact.$pristine, 'has-success' : enquiry_form.contact.$valid && enquiry_form.contact.$dirty}">
        <label for="contact" class="col-sm-3 control-label">Mobile NO.*</label>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">+91</span>
                <input type="text" pattern="^(\+?\d{1,4}[\s-])?(?!0+\s+,?$)\d{10}\s*,?$" class="form-control" id="contact" name="contact"  ng-model="enquiry.contact" placeholder="Mobile NO." required>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.email.$invalid && !enquiry_form.email.$pristine, 'has-success' : enquiry_form.email.$valid && enquiry_form.email.$dirty}">
        <label for="email" class="col-sm-3 control-label">Email*</label>
        <div class="col-sm-9">
            <input type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" class="form-control" id="email" name="email" ng-model="enquiry.email" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.location.$invalid && !enquiry_form.location.$pristine, 'has-success' : enquiry_form.location.$valid && enquiry_form.location.$dirty}">
        <label for="location" class="col-sm-3 control-label">Location*</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="location" name="location" ng-model="enquiry.location" placeholder="Location" required>
        </div>
    </div>
    
<!--
    <datepicker date-format="yyyy-MM-dd" selector="form-control" ng-class="{ 'has-error' : enquiry_form.dob.$invalid && !enquiry_form.dob.$pristine, 'has-success' : enquiry_form.dob.$valid && enquiry_form.dob.$dirty}">
        <div class="input-group">
            <input type="text" id="dob" name="dob"  ng-model="enquiry.dob" placeholder="Date Of Birth" required>
            <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
            </span>
        </div>
    </datepicker>
-->

    
    <div class="form-group" ng-class="{ 'has-error' : enquiry_form.dob.$invalid && !enquiry_form.dob.$pristine, 'has-success' : enquiry_form.dob.$valid && enquiry_form.dob.$dirty}">
        <label for="dob" class="col-sm-3 control-label">Date Of Birth*</label>
        <div class="col-sm-9">
<!--
            <datepicker date-format="yyyy-MM-dd" >
                <input type="text" id="dob" name="dob"  ng-model="enquiry.dob" placeholder="Date Of Birth" required class="form-control">
            </datepicker>
-->
            
<!--            <input type="date" class="form-control" id="dob" name="dob"  ng-model="enquiry.dob" placeholder="Date Of Birth" required >-->
            
            <input ui-date="dateOptions"  class="form-control" id="dob" name="dob" ng-model="enquiry.dob" ng-required="true" placeholder="Date Of Birth">
        </div>
    </div>

     <div class="form-group" ng-class="{ 'has-error' : enquiry_form.location.$invalid && !enquiry_form.location.$pristine, 'has-success' : enquiry_form.location.$valid && enquiry_form.location.$dirty}">
        <label for="comments" class="col-sm-3 control-label">Comments</label>
        <div class="col-sm-9">
            <textarea class="form-control" id="comments" name="comments" ng-model="enquiry.comments" placeholder="Comments" style="resize: vertical;"/>
        </div>
    </div>

    
    <div class="form-group" >
        <div class="col-sm-offset-8 col-sm-4">
            <button type="submit" class="btn btn-default" ng-disabled="!canSubmit()">Submit Enquiry Form</button>
        </div>
    </div>
</form>
