<div class="container-fluid " style="padding:2%">

    <h1>Frequently ASked Questions</h1>
    <ang-accordion icon-position="right"  close-icon-class="glyphicon glyphicon-chevron-down" open-icon-class="glyphicon glyphicon-chevron-up">
        <collapsible-item title="1. Do these skills have any impact on academic success?" initially-open="true">
            <div>
                <p>Yes, all these skills are so fundamental that it will impact all aspects of life, including academics.</p>
                <p>For example:</p>
                <p><b>Communication</b> will improve the ability to answer the questions (verbal as well as written), essay writing, composition, elocution, speech, etc. 
                </p>
                <p>Skills like <b>time management and action planning</b> will ensure timely completion of assignments resulting into better work and promptness.</p>
                <p><b>Critical thinking</b> will improve the problem solving abilities in various subjects.</p>
                <p><b>Team working and managing emotions</b> will allow the children to manage their interpersonal relationships so that they can gain from it rather than feeling frustrated and this will have a positive impact.</p>
            </div>
        </collapsible-item>
        
        <collapsible-item title="2. Why these skills are taught at such an early age? What benefit it gives?" initially-open="true">
            <div>
                Effectiveness of these skills being taught at the adult age is always questioned. Children have more probability of getting these skills inculcated as they are more amenable to learning. More importantly, children are more willing to try whatever they have learnt. And never the less, early starting is like scoring better in the initial overs of a cricket match, so that the asking rate is under control!
            </div>
        </collapsible-item>
        
        <collapsible-item title="3. How are these skills different from Personality Development?" initially-open="true">
            <div>
                Our program at Making CHAMPS covers aspects of Personality development plus it also helps in development of EQ (Emotional Quotient) and IQ (Intelligence Quotient).
            </div>
        </collapsible-item>
        <collapsible-item title="4. Do these skills help only for getting a good job in a multinational/government company?" initially-open="true">
            <div>
                These are the important skills which help in the overall development of the child. These skills are so fundamental that anyone who is desirous of achieving success and happiness would need them. So, these are not only meant for getting good job, but also are critical even if you are in business or profession.
            </div>
        </collapsible-item>
        <collapsible-item title="5. Do children have to practice these skills even after the classes are over?" initially-open="true">
            <div>
                There is a saying that – The more I practice, luckier I become. Practice gives the platform for retaining and improving any skill and more children do it, it would be an advantage for them. 
            </div>
        </collapsible-item>
        <collapsible-item title="6. Is 1 ½  hour session not very long for small children? Can they concentrate for such long duration?" initially-open="true">
            <div>
                The typical attention span is 30-40 minutes if it is monotonous. Our sessions are interactive and there are series of activities, discussions, feedbacks, video playbacks, etc. Hence there is no monotony. Therefore even 90 minutes class does not impact the concentration.
            </div>
        </collapsible-item>
        <collapsible-item title="7.How many students/childern are there in one class?" initially-open="true">
            <div>
                Each class would have not more than 10 children
            </div>
        </collapsible-item>
        <collapsible-item title="8. Does everyone gets chance to express?" initially-open="true">
            <div>
                Yes. Our sessions are interactive. There are limited number of students in one batch to ensure easy communication between the students and the teacher.
            </div>
        </collapsible-item>
        <collapsible-item title="9. After how much time we can see difference in the children?" initially-open="true">
            <div>
                It is seen that even students of 2nd and 3rd std have some fixed notions about themselves – what they can do and what they cannot do. Some of these dogmas need to be corrected and that doesn’t happen overnight. We have seen difference in some children in 3-4 weeks as well and in some cases it could even be 2-3 months. However, we are confident that whatever learnings children have in our class, they will be able to use it as the circumstances arise.
            </div>
        </collapsible-item>
        <collapsible-item title="10. Are there any follow up sessions after the class is over?" initially-open="true">
            <div>
                Yes. There would be follow up sessions after each level is completed and these would be typically once a month, for 3-5 months. 
            </div>
        </collapsible-item>
        <collapsible-item title="11. Any home-work given to the students in the class?" initially-open="true">
            <div>
                It is expected that the children practice what they learn for better and faster effect. However, it would be our endeavor to give as little homework as possible, as we are aware of the tight schedules the children and the parents have.
            </div>
        </collapsible-item>
        <collapsible-item title="12. Would there be any handouts or revision notes or books for the course?" initially-open="true">
            <div>
                This is a practice based course and hence our attempt would be to demonstrate all the learnings in action. However, in order to have a quick aide memoir, certain handouts would be given periodically, as required. 
            </div>
        </collapsible-item>
        <collapsible-item title="13. The course is founded by professionals like CA and MBA, but do they have experience of dealing with children and teaching them?" initially-open="true">
            <div>
                <p>
                    We have seen the state of affairs in various schools which has teachers with all the formal degrees and still the learning outcomes are phenomenally low (refer the surveys by Pratham-ASER or even PISA results). Therefore, learning outcomes are not necessarily dependent on the formal degrees that teacher holds. </p><p>
                In our view, there needs to be 2 basic requirements – understanding of how learning happens and a passion for development of children. We believe in the philosophy – if they don’t learn in the way I teach them, I will teach in a way they learn. We have 2 children – Harsh and Jiya who are in the same age group that we are addressing and we have hands-on experience of dealing with them.  
                </p><p>
                In addition, we have conducted several training programs in the corporate - right from graduate trainees to top management on wide ranging topics like Balanced Scorecard, Growth Strategy, Strategic Planning, Change Management etc.  </p><p>
                Moreover, we have done lot of work on children learning and children psychology. When children from our batches say that “we are among the best teachers where they learn and enjoy” it makes our day. 
                </p>

            </div>
        </collapsible-item>
        <collapsible-item title="14. What happens if someone misses a scheduled class?" initially-open="true">
            <div>
                To the extent possible, please ensure that your child attends all the classes. In extreme situations it may happen that some class may get missed. There are 2 possibilities in such cases – if there is some other batch going on where in the missed class can be covered, we would make that adjustment. Alternatively, we may consider scheduling an extra interaction with the child to bring him up to speed. However, the child would have lost the group learning opportunity. 
            </div>
        </collapsible-item>

    </ang-accordion>
    
</div>