<footer class="footer" 
        style="bottom:0px; height:auto; background-color:currentcolor;  box-shadow : -1px 0px 20px silver; opacity:0.95; padding:10px;">
    <div class="row hidden-md hidden-lg" style="font-size:18px">
                    <a href="https://www.facebook.com/makingchamps" class="col-sm-2 col-xs-2 entypo-facebook" target="_blank">
                        
                    </a>

                
        <a href="http://makingchampsindia.blogspot.in/" class="col-sm-2 col-xs-2 entypo-clipboard" target="_blank">
                    </a>
                
        <a href="https://www.youtube.com/channel/UCJD7JpSP3Wvejpw74FiO1PQ" class="col-sm-2 col-xs-2 entypo-video" target="_blank">
                    </a>
               
        <a href="http://makingchampsindia.blogspot.in/" class="col-sm-2 col-xs-2 entypo-linkedin" target="_blank">
                    </a>
                
        <a href="https://plus.google.com/107688124911748448023/posts/GUprxJbkqdn" class="col-sm-2 col-xs-2 entypo-google-circles" target="_blank">
                    </a>
                
        <a href="https://twitter.com/making_champs" class="col-sm-2 col-xs-2 entypo-twitter" target="_blank">
                    </a>
               
    </div>
    <div class="row" style="margin:0px;text-align: center;">
        <span class=" col-sm-4" style="color:white;">
            <a href="#!/Disclaimer" style="color:white">Disclaimer</a>
        </span>
        <span class="col-sm-4" style="color:white;">
            <center>Copyright © 2013-2014 <strong>Making Champs</strong></center>
        </span>
        <span class="  col-sm-4 " style="color:white; ">
            <a href="http://devsatwork.in/" style="color:white">Developed by <strong>DevsAtWork</strong></a>
        </span> 
    </div>
            
            
</footer>


<style>
    .feedbackBtnR {background: #FF7A00;display: block;outline: medium none;position: fixed;right: -1px;top: 20%;width: 110px;color: #fff;z-index: 1030}
    .feedbackBtnR:hover{right: 0; color:#fff; text-decoration:none}
</style>

<button class="btn btn-lg btn-warning hidden-sm hidden-xs feedbackBtnR" ng-click="getEnquiryForm()">
    ENQUIRY</button>

<script>
    $(function() {
        $('.nav a').on('click', function(){ 
            if($('.navbar-toggle').css('display') !='none'){
                $(".navbar-toggle").trigger( "click" );
            }
        });
    });
</script>