
<form class="form-horizontal" ng-controller="forgotCtrl" style="margin: 20px;" ng-submit="sendNewPassword()">
    <div class="form-group">
        
        <div class="col-md-12" style="margin:10px;">
            <input type="text" class="form-control" id="user_name" placeholder="User Name"
                   ng-model="forgotModel.user_name" required>
        </div>

        <div  style="padding:0 0 0 35px; color:red;">
        	{{ErrorMessage}}
        </div>

        <div class="col-md-12" style="margin:10px 0 0 0;">
            <button class="btn btn-primary pull-right" type="submit" >Submit</button>
        </div>
    </div>
</form>
