<nav id="header_nav" class="navbar navbar-default navbar-fixed-top" style="box-shadow : 1px 0px 20px silver; ">
    <div class="">

        <div class="">
            <div class="col-md-2" style="padding:0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="#!/" style="padding:10px 0px"><img id="brand_img"  alt="Making Champs" src="/content/logo.gif" class="img_responsive" style="width:100%"></a>
                </div>
            </div>
            <div class="col-md-10" style="padding:0">
                <div class="row" id="hide_row" style="margin-top:2%;">

                    <div class="col-md-4 hidden-sm hidden-xs">   
                        <a class="navbar-brand" href="#!/"> <img alt="Making Champs" src="/content/logo_.gif"></a>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <h3 style="margin:0;padding:0"></h3>
                    </div>
                    <div class="col-md-4  hidden-sm hidden-xs">
                        <form>

                            <div class="row ">

                                <div ng-hide="loggedInUser">
                                    <div class="col-md-5 form-group">

                                        <input type="text" class="form-control" id="InputFirstName" placeholder="User Name"
                                               ng-model="loginModel.username">
                                    </div>
                                    <div class="col-md-5 form-group">

                                        <input type="password" class="form-control" id="InputLastName" placeholder="Password"
                                               ng-model="loginModel.password">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <button type="button" class="btn btn-primary " ng-click="loginModel.login()">
                                            Login
                                        </button>
                                    </div>

                                </div>

                                <div  ng-show="loggedInUser" style="text-transform: capitalize;">
                                    <div>
                                        <img class="img-responsive img-center img-thumbnail img-circle" style="width:30px; height:30px" ng-src="/content/student/{{loggedInUser.user_image==''?'avatar.png':loggedInUser.user_image}}" alt="">
                                        <a href="#!/MyAccount" style="padding: 0 10px 0 0;">{{loggedInUser.name}}</a>
                                        <span style="color:silver;"> | </span>
                                        <a href="#!/" ng-click="loginModel.logout()" style="color:red; padding: 0 0 0 10px;"><span class="glyphicon glyphicon-log-out"></span></a>
                                    </div>



                                </div>

                            </div>
                            <span class="link" style="color: silver;margin-top: -10px" data-ng-click="forgotPasswordForm();">Forgot Password</span>

                            <div class="row" style="margin:0 0 0 5px; color:red;" data-ng-if="loginCredentialsInvalid">
                                Please enter valid login credentials.
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row" style="padding-left:1%;font-weight:bold">

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav " style="text-transform:uppercase;">

                            <li ng-class="{ active: isActive('/Offerings')}"><a href="#!/Offerings">Offerings</a></li>
                            <li ng-class="{ active: isActive('/Batches')}"><a href="#!/Batches">Batches</a></li>
                            <li ng-class="{ active: isActive('/Download')}" ng-show="loggedInUser"><a href="#!/Download">Download</a></li>
                            <li ng-class="{ active: isActive('/Testimonials')}"><a href="#!/testimonials">testimonials</a></li>
                            <li ng-class="{ active: isActive('/Gallery')}"><a href="#!/Gallery">Gallery</a></li>
                            <li ng-class="{ active: isActive('/Faqs')}"><a href="#!/Faqs">Faq's</a></li>
                            <li ng-class="{ active: isActive('/AboutUs')}"><a href="#!/AboutUs">About Us</a></li>
                            <li ng-class="{ active: isActive('/NewsAndEvents')}"><a href="#!/NewsAndEvents">News and Events</a></li>
                            <li ng-class="{ active: isActive( '/Careers')}"><a href="#!/Careers">Careers</a></li>
                            <li ng-class="{ active: isActive( '/ContactUs')}"><a href="#!/ContactUs">Contact Us</a></li>
                            <li ><a href="javascript:;" ng-click="getEnquiryForm()" class="hidden-lg hidden-md">Enquiry</a></li>
                            <li ><a href="javascript:;" ng-click="loginForm()" class="hidden-lg hidden-md">Login</a></li>
                            <li ><a href="javascript:;" data-ng-click="forgotPasswordForm();" class="hidden-lg hidden-md">Forgot Password</a></li>


                        </ul>
                        <ul id="user" hidden class="nav navbar-nav " ng-show="loggedInUser" style="text-transform: capitalize;">

<!--
                            <li><img class=" img-responsive img-center img-thumbnail img-circle" style="width:30px; height:30px;margin:30% 0%" ng-src="/content/student/{{loggedInUser.user_image}}" alt="loggedInUser.name">
                            </li>
-->
                            <li> <a href="#!/MyAccount" style="color: #337ab7;text-decoration: none;">{{loggedInUser.name}}</a></li>
                            <li class="divider-vertical"></li>

                            <li><a href="#!/" class=" col-md-3" ng-click="loginModel.logout()" style="color:red; "><span class="glyphicon glyphicon-log-out"></span></a></li>
                        </ul>


                    </div>

                </div>

            </div>

        </div>



    </div>
</nav>

<nav id="social-sidebar" class="hidden-sm hidden-xs">

    <ul>

        <li>
            <a href="https://www.facebook.com/makingchamps" class="entypo-facebook" target="_blank">
                <span>Facebook</span>
            </a>
        </li>

        <li>
            <a href="http://makingchampsindia.blogspot.in/" class="entypo-clipboard" target="_blank">
                <span>Blogger</span>
            </a>
        </li>

        <li>
            <a href="https://www.youtube.com/channel/UCJD7JpSP3Wvejpw74FiO1PQ" class="entypo-video" target="_blank">
                <span>Youtube</span>
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/company/making-champs" class="entypo-linkedin" target="_blank">
                <span>Linked In</span>
            </a>
        </li>

        <li>
            <a href="https://plus.google.com/107688124911748448023/posts/GUprxJbkqdn" class="entypo-google-circles" target="_blank">
                <span>Google Plus</span>
            </a>
        </li>

        <li>
            <a href="https://twitter.com/making_champs" class="entypo-twitter" target="_blank">
                <span>Twitter</span>
            </a>
        </li>

    </ul>

</nav>
<style>
    .cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 40px;
        right: 10px;
        z-index: 10;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #36498d url(/content/cd-top-arrow.svg) no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
    .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    .cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }
    .cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .5;
    }
    .no-touch .cd-top:hover {
        background-color: #e86256;
        opacity: 1;
    }
    @media only screen and (min-width: 768px) {
        .cd-top {
            right: 20px;
            bottom: 45px;
        }
    }
    @media only screen and (max-width: 768px) {
        .cd-top {
            right: 10px;
            bottom: 100px;
        }
    }
    @media only screen and (min-width: 1024px) {
        .cd-top {
            height: 40px;
            width: 40px;
            right: 20px;
            bottom: 45px;
        }
    }
</style>
<a href="#0" class="cd-top">Top</a>
<script>
    jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
            //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
            offset_opacity = 1200,
            //duration of the top scrolling animation (in ms)
            scroll_top_duration = 700,
            //grab the "back to top" link
            $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function(){
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if( $(this).scrollTop() > offset_opacity ) { 
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function(event){
            event.preventDefault();
            $('body,html').animate({
                scrollTop: 0 ,
            }, scroll_top_duration
                                  );
        });

    });





    $(window).resize(function(){
        loadData();
    });
    loadData();
    function loadData(){
        if ($(window).width() < 768) {
            // do something for small screens
            $('#brand_img').attr("src","/content/logo_.gif");
        }
        else if ($(window).width() >= 768 &&  $(window).width() <= 992) {
            $('#brand_img').attr("src","/content/logo.gif");
            $(function(){
                $('#header_nav').data('size','big');
            });
            $(window).scroll(function(){
                if($(document).scrollTop() > 0)
                {
                    if($('#header_nav').data('size') == 'big')
                    {
                        $('#header_nav').data('size','small');
                        //                $('#header_nav').stop().animate({
                        //                    height:'40px'
                        //                },600);
                        $("#hide_row").hide("slow");
                        $('#brand_img').fadeOut(500, function() {
                            $('#brand_img').attr("src","/content/logo_.gif");
                            $('#brand_img').fadeIn(500);
                        });
                        $("#user").show("slow");
                    }
                }
                else
                {
                    if($('#header_nav').data('size') == 'small')
                    {
                        $('#header_nav').data('size','big');
                        //                $('#header_nav').stop().animate({
                        //                    height:'100px'
                        //                },600);
                        $("#hide_row").show("slow");
                        $('#brand_img').fadeOut(500, function() {
                            $('#brand_img').attr("src","/content/logo.gif");
                            $('#brand_img').fadeIn(500);
                        });
                        $("#user").hide("slow");
                        //                $("#brand_img").attr('src', '/content/logo.gif');
                    }  
                }
            });
        }
        else if ($(window).width() > 992 &&  $(window).width() <= 1200) {
            $('#brand_img').attr("src","/content/logo.gif");
            $(function(){
                $('#header_nav').data('size','big');
            });
            $(window).scroll(function(){
                if($(document).scrollTop() > 0)
                {
                    if($('#header_nav').data('size') == 'big')
                    {
                        $('#header_nav').data('size','small');
                        //                $('#header_nav').stop().animate({
                        //                    height:'40px'
                        //                },600);
                        $("#hide_row").hide("slow");
                        $('#brand_img').fadeOut(500, function() {
                            $('#brand_img').attr("src","/content/logo_.gif");
                            $('#brand_img').fadeIn(500);
                        });
                        $("#user").show("slow");
                    }
                }
                else
                {
                    if($('#header_nav').data('size') == 'small')
                    {
                        $('#header_nav').data('size','big');
                        //                $('#header_nav').stop().animate({
                        //                    height:'100px'
                        //                },600);
                        $("#hide_row").show("slow");
                        $('#brand_img').fadeOut(500, function() {
                            $('#brand_img').attr("src","/content/logo.gif");
                            $('#brand_img').fadeIn(500);
                        });
                        $("#user").hide("slow");
                        //                $("#brand_img").attr('src', '/content/logo.gif');
                    }  
                }
            });
        }
        else  {
            $('#brand_img').attr("src","/content/logo.gif");
            $(function(){
                $('#header_nav').data('size','big');
            });
            $(window).scroll(function(){
                if($(document).scrollTop() > 0)
                {
                    if($('#header_nav').data('size') == 'big')
                    {
                        $('#header_nav').data('size','small');
                        //                $('#header_nav').stop().animate({
                        //                    height:'40px'
                        //                },600);
                        $("#hide_row").hide("slow");
                        $('#brand_img').fadeOut(500, function() {
                            $('#brand_img').attr("src","/content/logo_.gif");
                            $('#brand_img').fadeIn(500);
                        });
                        $("#user").show("slow");
                    }
                }
                else
                {
                    if($('#header_nav').data('size') == 'small')
                    {
                        $('#header_nav').data('size','big');
                        //                $('#header_nav').stop().animate({
                        //                    height:'100px'
                        //                },600);
                        $("#hide_row").show("slow");
                        $('#brand_img').fadeOut(500, function() {
                            $('#brand_img').attr("src","/content/logo.gif");
                            $('#brand_img').fadeIn(500);
                        });
                        $("#user").hide("slow");
                        //                $("#brand_img").attr('src', '/content/logo.gif');
                    }  
                }
            });
        }    }

</script>