<div class="container-fluid" style="margin-top:-0.3%">
    <div class="row" >
        <div class=" col-md-12" >
            <section class="block"  >
                <div id="home-caraousel"   class="carousel slide carousel-fade content" data-ride="carousel" >
                    <div class="carousel-inner " ng-if="HomeModel.homeSlider.length>0">
                        <div class="item" ng-class="{active:!$index}"  ng-repeat="slider in HomeModel.homeSlider track by $index" ng-if="HomeModel.homeSlider.length>0">
                            <div afkl-lazy-image='content/home_page_slider/{{slider.image_name}}' alt="{{slider.image_name}}"
                                 class="afkl-lazy-wrapper afkl-lazy-image-loading">
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" ng-if="HomeModel.homeSlider.length>0" href="#home-caraousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" ng-if="HomeModel.homeSlider.length>0" href="#home-caraousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
        </div>
        
    </div>

    <div class="row  ">
        <img class="img-responsive " src="/content/personality.jpg" style="width:100%">
    </div>
   <div class="row bottom-section"   >
        
        <div class="col-md-4" style="padding-top: 20px;">
            <div class=" embed-responsive embed-responsive-4by3" >
                    <iframe  class="embed-responsive-item"  src="https://www.youtube.com/embed/4mhBKk-unC0" frameborder="0" allowfullscreen ></iframe>
            </div>

        </div>
    
        <div class="col-md-4 col-sm-6 " style="backgroud:transparent">
            <div class="row">
            <div class="col-md-6" >
                <div class="row  bottom-section-item">
                <h5>Competitions</h5>
                <img src="/content/coming-soon.png" style="position: absolute; z-index: 2;" />
 <span class="content" style="line-height:1">
     <p> SPEAK _ O _ CHAMP</p>
     <p> Public speaking competetion </p>
     <p> WRITE _ O _ CHAMP</p>
     <p> Essay writing competition </p>
 </span>
                </div>
            </div>
             <div class="col-md-6" >
                <div class="row  bottom-section-item">
                <h5>Shop Online
                     <!--<a href="/content/downloads/download brochure.pdf" class="small" style="color:#d4a016" target="_blank">Download Brochure</a>-->
                     </h5>
                      <img src="/content/coming-soon.png" style="position: absolute; z-index: 2;"/>
 <p class="content" >
                        Boooks, Videos, Speeches, Assessments and a complete E-Learning Course.
                    </p>
                </div>
                
            </div>
            </div>
            <div class="row bottom-section-item">


                <h5>OUR CHAMPS <a href="/#!/Gallery" class="small" style="color:#d4a016">See More</a></h5> 
                <img ng-if="$index<6" ng-src='/content/gallery/{{gallley_item.name}}' alt="{{gallley_item.caption}}" style="padding:1%;height:82px" class="zoomTransition img-responsive  col-md-2 col-sm-2 col-xs-2 col-lg-2" ng-repeat="gallley_item in HomeModel.galleryItems track by $index" >     
            </div>

        </div>

        <div class="col-md-4 col-sm-6">
           
            <div class="row bottom-section-item" >

                <h5>ANNOUNCEMENTS <a href="/#!/NewsAndEvents" class="small" style="color:#d4a016">See More</a></h5> 
                <ul class="list-group content" style="padding-bottom:0px" >
                    <li class="list-group-item news-item"  ng-repeat="FeedItem in HomeModel.newsFeedItems">
                        <div class="news-item" ng-if="FeedItem.link=='' || FeedItem.link==NULL">
                            <span class="badge" ng-if="FeedItem.status=='new'">New</span>
                            {{FeedItem.feed}}
                        </div>
                        <a href="{{FeedItem.link}}" target="_blank" class="news-item" ng-if="FeedItem.link!='' && FeedItem.link!=NULL">
                            <span class="badge" ng-if="FeedItem.status=='new'">New</span>
                            {{FeedItem.feed}}
                        </a>
                        
                    </li>
                </ul>  
            
            </div>

            <div class="row bottom-section-item">

                <h5>TESTIMONIALS <a href="/#!/testimonials" class="small" style="color:#d4a016">Read More</a></h5> 

                <div class="carousel slide carousel-fade content" data-ride="carousel" id="testimonials-rotate" >
                    
                    <div class="carousel-inner" >
                        <div class="item"  ng-class="$index ? '' : 'active'"  ng-repeat="testinomial in HomeModel.testimonials track by $index">     
                            
                            <div class="col-md-12">
                                    {{testinomial.testimonial | cut:true:90:'..'}}

                            </div>
                                
                            <div class="clearfix"></div>
                        </div>
                    </div>                  
                </div>

            </div>

                                  
        </div>

    </div>
</div>



<script>
    $('#testimonials-rotate').carousel();
    $('#home-caraousel').carousel();
    $('#myCarousel').carousel({
        interval: 10000
    })

    $('.carousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length>0) {
            next.next().children(':first-child').clone().appendTo($(this));
        }
        else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
</script>
