<div class="container-fluid" style="padding:2%;">

    <div class="col-md-12 " style="padding-left:0px;"><section id="join_us" class=" white-bg padding-top-bottom list-group-item">
    <h2 class="section-title text-center page-title">Want to join our team?</h2>

<span style="font-size: 20px;
  color: grey;
  line-height: 35px;
  padding: 2%;">
            <p>At the start up, we are always in need of more helping hands. Volunteer, part time or full time. Given our nature of work, we invite professionals to work with us on any the following skill sets:</p>

    <ol>
        <li>Teachers/trainers for soft skills</li>
        <li>Content writers</li>
        <li>Animators</li>
        <li>Video editors</li>
        <li>Administration & customer support</li>
        <li>E Learning</li>
        <li>Digital Marketing</li>
        <li>Sales and Marketing</li>
    </ol>
    <p>Please write to us at <a href="mailto:info@makingchamps.co.in">info@makingchamps.co.in</a> with your interest</p>
        </span>
</section>
        </div>
    </div>