<form data-ng-submit="loginModel.login()">

    <div class="row ">


            <div class="col-md-5 form-group">

                <input type="text" class="form-control" id="InputFirstName" placeholder="User Name"
                       ng-model="loginModel.username">
            </div>
            <div class="col-md-5 form-group">

                <input type="password" class="form-control" id="InputLastName" placeholder="Password"
                       ng-model="loginModel.password">
            </div>
            <div class="col-md-2 form-group">
                <button type="submit" class="btn btn-primary " >
                    Login
                </button>
            </div>

        </div>

        <div  ng-show="loggedInUser" style="text-transform: capitalize;">
            <div>
                <img class="img-responsive img-center img-thumbnail img-circle" style="width:30px; height:30px" ng-src="/content/student/{{loggedInUser.user_image==''?'avatar.png':loggedInUser.user_image}}" alt="">
                <a href="#!/MyAccount" style="padding: 0 10px 0 0;">{{loggedInUser.name}}</a>
                <span style="color:silver;"> | </span>
                <a href="#!/" ng-click="loginModel.logout()" style="color:red; padding: 0 0 0 10px;"><span class="glyphicon glyphicon-log-out"></span></a>
            </div>



        </div>

    </div>
    <span class="link" style="color: silver;margin-top: -10px" data-ng-click="forgotPasswordForm();">Forgot Password</span>

    <div class="row" style="margin:0 0 0 5px; color:red;" data-ng-if="loginCredentialsInvalid">
        Please enter valid login credentials.
    </div>
</form>