<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
<div class="container-fluid" style="padding:2%;padding-top:2%" ng-init="loadMyAccountDetails()">

     <div class="col-md-4" style="padding-left:0px">

        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item" style="border:none;">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/student/{{parentStudentDetails.details.user_image==''?'avatar.png':parentStudentDetails.details.user_image}}" alt="">
                        </div>

                        <div clas="col-md-7">
                         <h4 class="section-title page-title" style="text-transform: capitalize;">{{parentStudentDetails.details.name}}</h4>
                            <span class="link" style="color: silver;" data-ng-click="changePassword();">Change Password</span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item">
                        <h4 class="section-title page-title">Batch Details</h4>
                        <p>
                            <strong><h4>{{parentStudentDetails.batch.caption}}</h4></strong>
                        </p>
                        <p>
                            Start Date <strong>{{parentStudentDetails.batch.start_date}}</strong>
                        </p>
                        <p>
                            End Date <strong>{{parentStudentDetails.batch.end_date}}</strong>
                        </p>
                </div>
            </div>
        </section>

        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item">
                        <h4 class="section-title page-title">Contact Teacher</h4>

                        <img class="img-responsive img-center img-thumbnail img-circle" ng-src="/content/team/{{parentStudentDetails.teacher.image}}" alt="">
                        <strong>{{parentStudentDetails.teacher.name}}</strong>
                        <div>
                            {{parentStudentDetails.teacher.mobile}}
                            <div ng-bind="parentStudentDetails.teacher.email"></div>

                        </div>

                </div>

            </div>
        </section>

        <section  class=" white-bg padding-top-bottom">
            <div class="list-group">
                <div class="list-group-item">
                        <h4 class="section-title page-title">Your feedback </h4>
                        <button class="btn btn-primary"
                            style="float:right; float:top;margin-top:-40px"
                            ng-bootbox-title="Add Testimonial"
                            ng-bootbox-custom-dialog
                            ng-bootbox-custom-dialog-template="/views/web/addTestimonials.html"
                            ng-bootbox-buttons="customDialogButtons">
                         Add New</button>

                        <div ng-repeat="testimonial in parentStudentDetails.testimonials">

                            {{testimonial.testimonial}}
                            <hr/>
                        </div>

                </div>

            </div>
        </section>
    </div>
    <div class="col-md-8 " style="padding-right:0px">
        <section class=" white-bg padding-top-bottom list-group-item">

            <h3 class="section-title page-title">Stars</h3>

            <div align="justify">
                <div class="row">
                        <div class="col-md-1  text-center">STARS</div>
                        <div class="col-md-5  text-center">Caption</div>
                        <div class="col-md-3  text-center">LAST CLASS EARNING</div>
                        <div class="col-md-3  text-center">CUMMULATIVE EARNING</div>
                </div>

                <div class="row" ng-repeat="star in parentStudentDetails.stars" style="border-bottom : 1px solid #f6f6f6; padding-top:10px;">
                    <div class="col-md-1 text-center">
                        <img class="img-responsive img-center img-thumbnail" ng-src="/content/stars/{{star.star.image}}" alt="{{star.star.caption}}">
                    </div>
                    <div class="col-md-5 text-center">
                        {{star.star.caption}}
                    </div>
                    <div class="col-md-3 text-center" style="font-size : 24px;">
                        {{star.ratings.latest_student_rating>0?star.ratings.latest_student_rating:0 | number:2}}
                    </div>
                    <div class="col-md-3 text-center" style="font-size : 24px;">
                        {{star.ratings.cumulative_student_rating>0?star.ratings.cumulative_student_rating:0 | number:2}}
                    </div>

                </div>
            </div>

         </section>
         <br/>
         <section id="team" class=" white-bg padding-top-bottom list-group-item">

            <h3 class="section-title page-title">Homework</h3>

                <div ng-repeat="homework in parentStudentDetails.homework track by $index">
                    <div class="row">
                        <div class="col-md-8">
                            {{homework.homework.homework}}
                            <dl class="dl-horizontal"  ng-if="homework.status=='incomplete'">
                                <dt>Upload Method</dt>
                                <dd>
                                    <label class="ui-checkbox"><input name="method{{$index}}" ng-model="homework.method" type="radio" value="file" ><span>File</span></label>
                                    <label class="ui-checkbox"><input name="method{{$index}}"  ng-model="homework.method" type="radio" value="text" checked><span>Text</span></label>
                                </dd>

                            </dl>
                        </div>
                        <div class="col-md-4" ng-if="homework.status=='incomplete' && homework.method=='file'">

                            <input type="file" nv-file-select="" uploader="uploader[$index]" />
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-repeat="item in uploader[$index].queue">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                        </div>
                        <div class="col-md-4" ng-if="homework.status!='incomplete'">
                            {{homework.status}}
                        </div>
                        <!--<textarea class="col-md-8"  ng-model="myBatchesModel.homework.homework" class="form-control" rows="4"></textarea>-->
                        <!--<button   type="submit" ng-disabled="!canSubmitHomework()" class=" btn btn-primary col-md-4">Add New Homework</button>-->
                    </div>
                    <div class="row" ng-if="homework.status=='incomplete' && homework.method=='text'">
                        <span class="text-danger"><strong>Note:</strong> Homework Minimum length is 20 characters</span>
                        <textarea ng-model="homework.text" class="form-control" rows="4"></textarea>
                        <button type="submit" data-ng-disabled="homework.text==undefined || homework.text.length<=20" ng-click="SubmitHomework(homework)" class="form-control btn btn-primary">Submit Homework</button>
                    </div>
                    <hr>
                </div>

        </section>
        <br/>
        <section id="courseProgress" class="white-bg padding-top-bottom list-group-item">

            <h3 class="section-title page-title">Course Progress</h3>

             <div ng-repeat=" mainTask in parentStudentDetails.levelTaskDetails" style="margin:30px 5px 35px 5px; color: #323232; font-size:22px;">

                <span data-ng-if="!subTask.is_completed" style="margin-right: 20px;" class="glyphicon glyphicon-unchecked"></span>
                <span data-ng-if="subTask.is_completed" style="margin-right: 20px; color:green;" class="glyphicon glyphicon-check"></span>
                <span>
                    {{mainTask.caption}}
                </span>

                    <div class="row" ng-repeat=" subTask in mainTask.sub_task" style="margin: 10px 10px -8px 2px;; color: #4c4c4c; font-size:16px;">

                        <div class="row" ng-click="feedbackView(subTask.id)" style="margin: 1px; background-color: #e5e5e5; padding: 13px 5px;; cursor:pointer;">

                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-th-list" style="font-size:14px; cursor:pointer;">

                                 </span>
                            </div>
                            <div class="col-md-9">

                                 <span>
                                    {{subTask.caption}}
                                 </span>

                            </div>

                             <div class="col-md-2">

                                 <span data-ng-if="subTask.is_completed" class="label label-success">Completed</span>
                            </div>
                        </div>
                         <div class="row"
                         ng-show="subTask.id == currentFeedbackId"
                         style=" width:100%; padding: 20px; background-color:#f6f6f6; margin:0 0 10px 0;">
                                    <h4>
                                    Real life use
                                    </h4>
                                    <div class="row"
                                    ng-repeat="studentTask in subTask.student_tasks"
                                    style="border-top: 1px solid #f6f6f6; padding: 7px; background-color:white;">


                                        <div class="col-md-8">
                                            {{studentTask.comment}}
                                        </div>
                                        <div classs="col-md-3">
                                            {{studentTask.used_at}}
                                        </div>
                                    </div>
                                    <div class="row"
                                    style="border-top: 1px solid #f6f6f6; padding: 20px 7px 7px 7px; background-color:white;">

                                        <div class="col-md-8">
                                            <input type="text"
                                            ng-model="newEvent.comment"
                                            placeholder="Add new event"
                                            style="width:100%; border-top:none; border-right:none; border-left:none;">
                                        </div>
                                        <div class="col-md-3" style="padding:2px 0;">

                                            <select ng-model="newEvent.place" required>
                                                <option value="" selected disabled>Select Place</option>
                                                <option value="Home" >Home</option>
                                                <option value="School" >School</option>
                                                <option value="Building" >Building</option>
                                                <option value="Society" >Society</option>
                                                <option value="Relative" >Relative</option>
                                                <option value="Other places" >Other places</option>
                                                <option value="Any other event" >Any other event</option>
                                            </select>


                                        </div>

                                        <div class="col-md-1">
                                            <span class="glyphicon glyphicon-envelope" style="cursor:pointer;" ng-click="addNewEvent(subTask.id,subTask)"></span>
                                        </div>
                                    </div>
                         </div>

                    </div>

             </div>



        </section>

    </div>

</div>

