<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
<div class="container-fluid" style="padding:2%">

    <div class="row">

        <div class="col-md-6 ">
            <section id="team" class=" white-bg padding-top-bottom list-group-item">
                <h2 class="section-title text-center page-title">Events</h2>

                <div style="height:250px; overflow-y:auto;">

                    <h4>Upcoming</h4>

                    <div class="list-group-item" ng-repeat="event in NewsAndEventsModel.events.upcoming">
                            <a target="_blank" href="/content/events/{{event.link}}">{{event.caption}}</a>
                    </div>

                    <h4>Past</h4>

                    <div class="list-group-item" ng-repeat="event in NewsAndEventsModel.events.past">
                        <a target="_blank" href="/content/events/{{event.link}}">{{event.caption}}</a>
                    </div>



                </div>
                    
            </section> 
        </div>

        <div class="col-md-6">

            <section class=" white-bg padding-top-bottom list-group-item">
            
                    <h2 class="section-title text-center page-title">Media</h2>
                    <div style="height:250px; overflow-y:auto;">

                        <div class="list-group-item" ng-repeat="media in NewsAndEventsModel.media">
                            <a target="_blank" href="{{media.link}}">{{media.caption}}</a>
                        </div>

                    </div>

            </section>

        </div>
    </div>

    <div class="row" style="margin-top:20px; margin-bottom:20px;">

        <div class="col-md-6">

            <section id="team" class=" white-bg padding-top-bottom list-group-item">
                <h2 class="section-title text-center page-title">Announcements</h2>

                <div style="height:250px; overflow-y:auto;">

                    <li class="list-group-item news-item"   ng-repeat="newsItem in NewsAndEventsModel.news">
                        <div class="news-item" ng-if="newsItem.link=='' || newsItem.link==NULL">
                            <span class="badge" ng-if="newsItem.status=='new'">New</span>
                            {{newsItem.feed}}
                    </div>
                        <a href="{{newsItem.link}}" target="_blank" class="news-item" ng-if="newsItem.link!='' && newsItem.link!=NULL">
                            <span class="badge" ng-if="newsItem.status=='new'">New</span>
                            {{newsItem.feed}}
                    </a>
                    </li>

                </div>
                    
            </section> 

        </div>
        <div class="col-md-6">

            <section id="team" class=" white-bg padding-top-bottom list-group-item">
                <h2 class="section-title text-center page-title">Blogs and Suggested Reading</h2>

                <div style="height:250px; overflow-y:auto;">

                    <div class="list-group-item" ng-repeat="blog in NewsAndEventsModel.blogs">
                            <a target="_blank" href="{{blog.link}}">{{blog.caption}}</a>
                    </div>


                </div>
                    
            </section> 

        </div>


    </div>
</div>
