<div class="row-fluid">
    <div class="col-sm-6 col-md-6">
        
        <div class="thumbnail row ">
            <div class="caption col-md-9 col-sm-9  ">
                <p>“ No one can teach anyone, a person has to learn herself and the teacher at best can reduce the barriers to learning…”</p>     
            </div>
            <img class="col-md-3 col-sm-3" src="/content/offerings/swami-vivekananda.jpg" style="height:105px">
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail row">
            <img  class="col-md-3 col-sm-3"  src="/content/offerings/guru.jpg" style="height:105px">
            <div class="caption">
                <div class="caption col-md-9 col-sm-9">

                <p><strong>Sanskrit word for teacher :</strong> Guru, which means removing the darkness (or showing the light)</p>   
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row text-center">
    <p>
        Considering the above, our program has three foundations – <strong>Learning in Action , Spaced Repetition and Deliberate Practice.</strong>
    </p>
</div>

<div class="row">
    <div class="col-sm-2 "></div>
    <img class="img-responsive img-center col-sm-8  col-md-8 col-lg-8 col-xs-12" src="/content/offerings/pillar_top.jpg" >
    <div class="col-sm-2  col-md-2 col-lg-2 col-xs-2"></div>
</div>
<div class="row">
    <div class="col-sm-2 "></div>
    <img class="img-responsive img-center col-sm-2  col-md-2 col-lg-2 col-xs-4 pillar-item" ng-click="showDetails('learning-in-action')" src="/content/offerings/pillar_1.jpg" >
    <div class="col-sm-1 "></div>
    <img class="img-responsive img-center col-sm-2  col-md-2 col-lg-2 col-xs-4 pillar-item" ng-click="showDetails('spaced-repetition')" src="/content/offerings/pillar_2.jpg" >
    <div class="col-sm-1 "></div>
    <img class="img-responsive img-center col-sm-2  col-md-2 col-lg-2 col-xs-4 pillar-item" ng-click="showDetails('delibrate-practice')" src="/content/offerings/pillar_3.jpg" >
    <div class="col-sm-2 "></div>
</div>
