
<p>
    World over, the experts are trying to bring in 21st Century Skills in the school curriculum. People call it by various names – Social Skills or Soft Skills or Life Skills. At Making CHAMPS, we call it as <strong>Personality + EQ and + IQ</strong> development.These attributes are developed by focusing on following skills: <strong>Communication, Managing emotions, Planning, Team work and Critical thinking.</strong>
</p>

<ang-accordion icon-position="right" one-at-a-time="true" close-icon-class="glyphicon glyphicon-chevron-down" open-icon-class="glyphicon glyphicon-chevron-up">

    <collapsible-item title="Communication">
        <div class="row">
            <div class="col-md-4">

                <img src="/content/offerings/communication.jpg" style="width:50%; margin:20px 25%;"/>

            </div>
            <div class="col-md-8">

                <p><strong>Communication </strong> is the ability to convey our ideas/ thoughts/ feelings to the other person exactly the way we want it, to get a desired response. It also includes our ability to understand the ideas/ thoughts/ feelings of the other person.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <p>
                    This is one of the most important skills and most of the time we are engaged in this. In Communication, our program includes<strong> Public Speaking, Developing Content, Effective Writing and Group Discussion</strong>. 
                </p>

            </div>
            <div class="col-md-8">
                <strong>    
                Developing communication skills results into improvement in</strong>
                <ol >
                    <li>Overall confidence</li> 
                    <li>Developing Content (composition, letters, stories, reviews, opinions)</li>
                    <li>Verbal communication (Q&A with the teacher, conversation with friends, etc.) </li>
                    <li>Good Public speaking (poem recitation, speech, elocution, storytelling, etc.) </li>
                </ol>

            </div>
        </div>
    </collapsible-item>

    <collapsible-item title="Managing Emotions">    
        <div class="row">
            <div class="col-md-4">
                <img src="/content/offerings/Managing_Emotions.jpg" style="width:50%; margin:20px 25%;"/>

            </div>
            <div class="col-md-8">

                <p>
                     According to Websters, Emotions are strong feeling of any kind. Managing Emotions is our ability to handle the surge of the feelings and channelizing them effectively. If not handled properly, it has impact on the brain and we lose our ability to think clearly. 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                In our program, the areas under Managing Emotions include <strong>Increasing Self Confidence, Handling Competition and Failures and Handling Conflicts. </strong>

            </div>
            <div class="col-md-8">

               <strong> Becoming good in managing emotions helps in:</strong>
                <ol >
                    <li>Dealing appropriately with friends</li> 
                    <li>Improved relationship with parents and teachers</li>
                    <li>Handlinge oneself  in situations  of joy / sorrow / anger / excitement,  etc</li>
                </ol>

            </div>
</div>

    </collapsible-item>

    <collapsible-item title=" Planning">
        

<div class="row">
    <div class="col-md-4">
        <img src="/content/offerings/Planning.jpg" style="width:50%; margin:20px 25%;"/>

    </div>
    <div class="col-md-8">

        Wikipedia defines Planning as the process of thinking about and organizing the activities required to achieve a desired goal. As such, planning is a fundamental property of intelligent behavior. This skill separates the achievers from the mediocre. 
    </div>
</div>

<div class="row">
    <div class="col-md-4">
       Lack of definite goals and proper action to achieve it, is one of the key reasons why many of us do not realize our potential. In our program, the areas under planning include<strong> Time Management, Goal Setting and Action Planning. 
</strong>
    </div>
    <div class="col-md-8">

        <strong>Becoming good in planning helps in:</strong>
        <ol >
            <li>Working on Priority areas </li> 
            <li>Planning one’s own schedule – for school and after school activities</li>
            <li>Takinge timely decisions</li>
            <li>Improving Self Discipline</li>
        </ol>

    </div>
</div>
</collapsible-item>

<collapsible-item title=" Teamwork ">
    <div class="row">
        <div class="col-md-4">

            <img src="/content/offerings/Team_Work.jpg" style="width:50%; margin:20px 25%;"/>

        </div>
        <div class="col-md-8">
According to Websters, it is the cooperation of individuals for the benefit of the team. It is the ability of a team to work together. We live in an interdependent world where many people work together. Eg. national importance projects, sports team, families, etc.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <p>Students do not develop teamwork because either parents work on the school projects or it gets outsourced. In our program, the areas under team work include<strong> How to work in a team and How to get work done from others.</strong> </p>


        </div>
        <div class="col-md-8">

            <strong>Understanding team working helps in:</strong>
            <ol >
                <li>Effectively handle school projects</li> 
                <li>Deal with other team players/ leaders</li>
                <li>Development of leadership quality </li>
                <li>Learning how to collaborate with others</li>
            </ol>

        </div>
    </div>
</collapsible-item>

<collapsible-item title=" Critical Thinking ">
    <div class="row">
        <div class="col-md-4">
            <img src="/content/offerings/Critical_Thinking.jpg" style="width:50%; margin:20px 25%;"/>

        </div>
        <div class="col-md-8">

            <p>Critical Thinking is our ability to make maximum use of the potential in our brain in order to make proper choices. The human brain is the most evolved among various species and therefore can think beyond ‘fight or flight’, the choice available for animals. 

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

           The most differentiating part of humans is our ability to think. In our program, the areas under<strong> Critical Thinking include Problem Solving, Creativity and Innovation</strong>

        </div>
        <div class="col-md-8">
            <strong>Developing critical thinking ability will help in:</strong>

            <ol >
                <li>Smartly handling new situations in life</li> 
                <li>Improving relationship with friends, parents by not getting upset on small matters</li>
                <li>Using right brain and left brain</li>
                <li>Keeping the natural curiosity alive</li>
                
            </ol>

        </div>
    </div>
</collapsible-item>

</ang-accordion>

