
<section class=" white-bg padding-top-bottom list-group-item">
<div class="row">    
<div class="col-md-3 col-lg-3">
</div>     
<div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_1.jpg" alt="" style="width:100%">
</div>
<div class="col-md-3 col-lg-3">
</div>
</div>    
<div class="row" style="padding-top:2%">
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 ">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_2.jpg" alt="" style="width:100%">
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 ">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_3.jpg" alt="" style="width:100%">
</div>
</div>
<div class="row" style="padding-top:2%">
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 ">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_4.jpg" alt="" style="width:100%">
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 ">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_5.jpg" alt="" style="width:100%">
</div>
</div>    
<div class="row" style="padding-top:2%">    
<div class="col-md-3 col-lg-3">
</div>     
<div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_6.jpg" alt="" style="width:100%">
</div>
<div class="col-md-3 col-lg-3">
</div>
</div> 
<div class="row" style="padding-top:2%">    
<div class="col-md-3 col-lg-3">
</div>     
<div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
        <img class="img-responsive img-center " ng-src="/content/offerings/the_need_7.jpg" alt="" style="width:100%">
</div>
<div class="col-md-3 col-lg-3">
</div>
</div>     

</section>