<div class="row" style="text-align:center">

	<div class="col-md-4">


	</div>
	<div class="col-md-8">

        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
		
			<h3 style="color:darkcyan; margin-top:10px;">Eligibility</h3>
	
		</div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">

			<h3 style="color:darkcyan; margin-top:10px;">Courses</h3>

		</div>	

	</div>

</div>

<div class="row" style="text-align:center; margin:20px 0; padding: 10px 0; box-shadow: -1px 1px 16px silver;">

	<div class="col-md-4">

		<h1 style="color:darkcyan; margin-top:30px;">ENTRY LEVEL</h1>

	</div>
    <div class="col-md-8 ">

		<div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				6 - 8 years
			</div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				Sr.KG - 2nd 
			</div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				<div class="link" ng-click="showDetails('level0')">
					<h3 style="margin:3px 0 -10px 0;">LEVEL 0</h3>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				8 - 13 years
			</div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				2/3rd - 7th
			</div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				<div class="link" ng-click="showDetails('level1')">
					<h3 style="margin:3px 0 -10px 0;">LEVEL 1</h3>
				</div>
			</div>
		</div>
	</div>
		
</div>

<div class="row" style="text-align:center; margin:20px 0; padding: 10px 0; box-shadow: -1px 1px 16px silver;">

    <div class="col-md-4">

		<h1 style="color:darkcyan; margin-top:30px;">ADVANCED LEVEL</h1>

	</div>
	<div class="col-md-8">

		<div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
				Students who have completed Level 1
			</div>
			
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				<div class="link" ng-click="showDetails('level2')">
					<h3 style="margin:3px 0 -10px 0;">LEVEL 2</h3>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
				Students who have completed Level 2
			</div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				<div class="link" ng-click="showDetails('level3')">
					<h3 style="margin:3px 0 -10px 0;">LEVEL 3</h3>
				</div>
			</div>
		</div>
	</div>
		
</div>
