<div class="container-fluid" style="padding:2%" >
<!--    {{GalleryModel.gallery}}-->
    <div class="btn-group " ng-init="GalleryModel.selected=0">
        <button type="button" class="btn btn-default" ng-class="{'active':(GalleryModel.selectedCategory==0),'inactive':(GalleryModel.selectedCategory!=0)}"  style="text-transform:capitalize"   ng-click="setSelectedCategory(0)" >Show All</button>
        <button type="button" class="btn btn-default" ng-class="{'active':(($index+1)==GalleryModel.selectedCategory),'inactive':(($index+1)!=GalleryModel.selectedCategory)}" style="text-transform:capitalize"  ng-repeat="category in GalleryModel.gallery track by $index" ng-click="setSelectedCategory($index+1)" >{{category.category}}</button>
    </div>
    <br/>
    <br/>
        <div class="btn-group "  >
            <button type="button" class="btn btn-default" ng-class="{'active':(GalleryModel.selectedEvent==0),'inactive':(GalleryModel.selectedEvent!=0)}" style="text-transform:capitalize" ng-click="setSelectedEvent(0)">Show All</button>
            <button type="button" class="btn btn-default" ng-class="{'active':(($index+1)==GalleryModel.selectedEvent),'inactive':(($index+1)!=GalleryModel.selectedEvent)}" style="text-transform:capitalize"  ng-repeat="event in GalleryModel.filteredEvents track by $index" ng-click="setSelectedEvent($index+1)"  >{{event.name}}</button>
        </div>
    <br/>
    <br/>
    
    <div class="row-fluid">
        <div class="img-responsive thumbnail col-sm-6 col-xs-6 col-md-3 col-lg-3 my-repeat-animation" ng-repeat="items in GalleryModel.filteredGallery | orderBy:random" >


            <a  ng-if = "items.type == 'image'" ng-click="openLightboxModal($index)">
                <img ng-src="/content/gallery/{{items.name}}"  alt="{{items.caption}}" title="{{items.caption}}" style="padding:0.5%;margin-top:0;margin-bottom:0">
            </a>
            
<!--            <a  ng-if = "items.type == 'image'" ng-click="openLightboxModal($index)">-->
<!--                        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail" alt="">-->
<!--                <img  ng-src="/content/gallery/{{items.name}}"  alt="{{items.caption}}" title="{{items.caption}}" style="padding:0.5%;margin-top:0;margin-bottom:0"/>-->
<!--                    </a>-->
                
<!--            <img ng-if = "items.type == 'image'"  ng-src="/content/gallery/{{items.name}}"  alt="{{items.caption}}" style="padding:0.5%;margin-top:0;margin-bottom:0"/>-->
            
            <span  ng-if= "items.type =='video'" class=" embed-responsive embed-responsive-4by3" >
        
                                             <iframe  class="embed-responsive-item"  ng-src="{{items.name}}" frameborder="0" allowfullscreen ></iframe>
                        </span>
            <p class="center-block">
                <center>
                <a facebook class="facebookShare" data-url='{{items.url}}' data-shares='shares' data-caption='{{items.caption}}' data-clickthru='http://makingchamps.co.in' data-description="{{items.caption}}">
                    {{ items.shared }}
                    <!--{{getShareCount(items.type =="video"?items.name:"http://makingchamps.co.in/content/gallery/"+items.name)}}-->
                </a>
                <!--&lt;!&ndash;<div gplus class="g-plus" data-size="tall" data-annotation="{{items.caption}}" data-href='{{items.type =="video"?items.name:"http://makingchamps.co.in/content/gallery/"+items.name}}' data-action='share'></div>&ndash;&gt;-->
                <!--<g:plus action="share"  data-annotation="{{items.caption}}" data-href='{{items.type =="video"?items.name:"http://makingchamps.co.in/content/gallery/"+items.name}}'></g:plus>-->
                <!--<script>-->
                <!--window.___gcfg = {-->
                <!--lang: 'en-US',-->
                <!--parsetags: 'onload'-->
                <!--};-->
                <!--</script>-->

                <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
        </center>
            </p>

            <!--            {{items}}-->
        </div>
    </div>
</div>
