<div class="container-fluid testimonials" style="padding:2%">

    <div clas="row">

      

        <div class="list-group-item   col-md-12 testimonials" ng-repeat="testimonial in Testimonials track by $index"  ng-animate="'animate'">
                        <div class="col-md-2" ng-if="$index%2">
                            <span ng-if="testimonial.posted_by=='father'">
                                <img ng-src="/content/parent/{{testimonial.parents.image==''?'father.jpg':testimonial.parents.image}}" alt=" {{testimonial.father_name}} " class="img-circle">
                            </span>
                            
                            <span ng-if="testimonial.posted_by=='mother'">
                                <img ng-src="/content/parent/{{testimonial.parents.mother_image==''?'mother.jpg':testimonial.parents.mother_image}}" alt=" {{testimonial.mother_name}} " class="img-circle">
                            </span>
                            
                            <span ng-if="testimonial.posted_by=='parents'">
                                <img ng-src="/content/parent/parents.jpg" alt=" {{testimonial.father_name}} & {{testimonial.parents.mother_name}} " class="img-circle">
                            </span>
                            

                        </div>
                        <blockquote class="col-md-10">
                            <p> {{testimonial.testimonial}}.  <small style="text-transform:capitalize">
                                <strong ng-if="testimonial.posted_by=='father'">{{testimonial.parents.father_name}}</strong>
                                <strong ng-if="testimonial.posted_by=='mother'"> {{testimonial.parents.mother_name}}</strong>
                                <strong ng-if="testimonial.posted_by=='parents'">{{testimonial.parents.father_name}}  & {{testimonial.parents.mother_name}}</strong>
                                <span ng-if="testimonial.parents.student.length">{{testimonial.posted_by}} of
                                <span ng-repeat="student in testimonial.parents.student"><span ng-show="!$first && !$last">, </span> <span ng-show="!$first && $last">& </span>{{student.name}} , {{student.class}} std , {{student.school.name}}</span>
                                
                                
                                </span></small></p>
                        </blockquote>
                        <div class="col-md-2" ng-if="!($index%2)">
                            <span ng-if="testimonial.posted_by=='father'">
                                <img ng-src="/content/parent/{{testimonial.parents.image==''?'father.jpg':testimonial.parents.image}}" alt=" {{testimonial.father_name}} " class="img-circle">
                            </span>

                            <span ng-if="testimonial.posted_by=='mother'">
                                <img ng-src="/content/parent/{{testimonial.parents.mother_image==''?'mother.jpg':testimonial.parents.mother_image}}" alt=" {{testimonial.mother_name}} " class="img-circle">
                            </span>

                            <span ng-if="testimonial.posted_by=='parents'">
                                <img ng-src="/content/parent/parents.jpg" alt=" {{testimonial.father_name}} & {{testimonial.parents.mother_name}} " class="img-circle">
                            </span> 
                        </div>
                    </div>

                    

        </div>
    </div>

