<div class="container-fluid" style="padding:30px; font-size:18px;">
      
    <img class="center-block" src="/content/offerings/deliberate practice.jpg" style="border:1px solid silver; height:300px; margin-bottom:30px;">

   <strong> Deliberate Practice: </strong>This is the term coined by K. Anders Ericsson and is known famously for his principle of 10000 hrs of practice required for attaining expertise.
	At Making CHAMPS, we sow the seeds for skill development, students practice in the class and at home and start improving progressively as they make use of what they have learnt

</div>