<div style="padding:30px; font-size:18px;">
	<div class="row" style="margin:10px 0 40px 0;">

     	 <img class="center-block col-md-6" src="/content/offerings/learning_in_action.jpg" style="height:50%;"/>

       	 <img class="center-block col-md-6" src="/content/offerings/confucious.jpg"/>
 
	</div>

	<div class="row">
	Normally, we are aware of the DO and DO IT AGAIN steps. But without the THINKING and REFLECTING, we would simply continue to repeat our mistakes. When we learn from the experiences, that makes it more sustainable.
	</div>

</div>