<div class="row" data-ng-controller="makingChampsLevelCtrl  ">

  <div class="row" style="margin: 10px;">
    <div class="col-md-4" style="border-right:1px solid silver; padding-top:20px;">

        <div ng-repeat="(key, value) in Level0Data.Skills" data-ng-click="skillDetail(key)" class="link" style="margin-bottom:10px;">
           {{value.Caption}}
        </div>

    </div>
    <div class="col-md-8">

        <h4>{{Level0Data.Skills[currentSkill].Caption}}</h4>
        <div>
          {{Level0Data.Skills[currentSkill].Description}}
        </div>
       <img src="/content/offerings/{{Level0Data.Skills[currentSkill].ImageName}}" style="width:50%; margin:20px 25%;">
        

    </div>
  
  </div>
 <hr>
   <div class="row" style="margin: 10px;">

    <div class="col-md-7">
         <strong ng-bind-html="Level0Data.RegularBatch"></strong>
    </div>
    <div class="col-md-5">
        <div>
          Total Sessions : <strong>{{Level0Data.CourseDuration}}</strong>
        </div>
        <div>
          Each Session : <strong>{{Level0Data.EachSession}}</strong>
        </div>
    </div>

  </div>


</div>
