<div style="padding: 20px 50px;">
<div class="row">

    <img class="center-block" src="/content/offerings/brain.jpg" style="border:1px solid silver; height:200px;">

</div>

<div class="row" style = "margin-top :20px;">

    <div class="row" margin="20px 0;">
        <div style="font-size : 20px; margin: 0 0 20px 0;">According to Tony Buzan, five times repetition equals long term memory</div>
        <ul>
            <li><span style="color : #337ab7 ; font-size : 18px;">First repetition</span> - Just after you have first learnt it </li>
            <li><span style="color : #337ab7 ; font-size : 18px;">Second repetition</span> – One day after you first learnt it </li>
            <li><span style="color : #337ab7 ; font-size : 18px;">Third repetition</span> – One week after you first learnt it </li>
            <li><span style="color : #337ab7 ; font-size : 18px;">Fourth repetition</span> – One month after you first learnt it </li>
            <li><span style="color : #337ab7 ; font-size : 18px;">Fifth repetition</span> – 3 to 6 months after you first learnt it </li>
        </ul>

    </div>
    <hr>
    <div class="row" margin="20px 0; margin: 0 0 20px 0;">
    <div style="font-size : 22px; margin: 0 0 20px 0;">At Making CHAMPS, this is achieved by</div>
    <ul style="font-size: 16px;list-style:inherit"> 
        <li> Summarising the learnings </li>
        <li> Recap in the next class </li>
        <li> Periodic revision</li>
        <li> Follow up sessions</li>
        <li> Handouts which are given to the students</li>
    </ul>
    </div>

</div>
</div>
